@{
    ViewBag.Title = StringResources.StringResources.erreur404titre;
}

<h1>@StringResources.StringResources.erreur404titre</h1>

<p>
    @StringResources.StringResources.erreur404msg
</p>
