@{
    ViewBag.Title = "Ecole";
    string ecole = ViewData["ecole"].ToString();
}

<h2>@ecole</h2>
<p>Les champs marqués d'une étoile sont obligatoires.</p>
<p class="msgErreur">L'école ne peut été modifié/supprimée.</p>
<form>
    <label for="nomEcole">Nom : *</label>
    <input type="text" name="nomEcole" />
    <br />
    <label for="adresse">Adresse : *</label>
    <input type="text" name="adresse" />
    <br />
    <label for="ville">Ville : *</label>
    <input type="text" name="ville" />
    <br />
    <a href="ecoles?supprimer=1" class="btnForm">Modifier</a>
    <a href="ecoles?supprimer=1" class="btnForm">Supprimer</a>
    <a href="ecoles" class="btnForm">Annuler</a>
    <br />
</form>
<script type="text/javascript">
    $(document).ready(function () {
        $(".nav-secondaire").toggle();
        });
</script>