@{
    ViewBag.Title = "Ecoles";
}

<h1>Gestion des écoles</h1>
@{
    if(String.IsNullOrEmpty(Request.QueryString["supprimer"]) == false)
    {
        <p class="msgOk">L'école a été modifié/supprimée.</p>
    }
    else if(String.IsNullOrEmpty(Request.QueryString["ajout"]) == false)
    {
        <p class="msgOk">L'école a été ajoutée.</p>
    }
}

<ul class="liste-fleche">
    <li>@Html.ActionLink("Instituto Agrario de Lichinga", "getEcole", new { nomEcole = "Instituto Agrario de Lichinga" })</li>
    <li>@Html.ActionLink("Escola Industrial e Comercial de Ngungunhana", "getEcole", new { nomEcole = "Escola Industrial e Comercial de Ngungunhana" })</li>
</ul>
<br />
<a href="ajoutEcole" class="btnForm">Ajouter une école</a>

<script type="text/javascript">
    $(document).ready(function () {
            $(".nav-secondaire").toggle();
        });
</script>
