@{
    ViewBag.Title = "Titre Événement";
}

<h1><a href="ModifierEvenement"><img src="~/Content/images/icones/icone-pen.png" title="Modifier l'événement" alt="Icône Modifier" class="icone" /></a> Titre Événement</h1>

<div class="desc-event">
    <p><span>Quand ? </span><br />
       Samedi 12 octobre 2013, à 6:00 PM</p>

    <p><span>Où ? </span><br />
       École XY<br />
       123 rue de la Croix</p>

    <p><span>Quoi ? </span><br />
       Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus venenatis ac dolor at cursus. Nulla lobortis, 
       enim vitae ultrices suscipit, felis lorem molestie nulla, sed ornare erat orci ut eros. Mauris at condimentum dolor.
       Nulla quis sollicitudin tortor, facilisis vehicula lectus. Vivamus feugiat, diam a aliquet laoreet, quam ante
       hendrerit metus, a lacinia.
    </p>

    <p><span>Type d'activité : </span>Conférence
    </p>
</div>
