@{
    ViewBag.Title = "Modifier un utilisateur";
}

    
    <h2>Modifier l'utilisateur : smnoreau002</h2>
    <p>Les champs marqués d'une étoile sont obligatoires.</p>
    <p class="msgOk"></p>
    <p class="msgErreur"></p>
    <form id="frmModifUtil">
        <ul>
            <li><label for="login">Identifiant : *</label>
            <input type="text" name="login" id="ajoutId" value="smnoreau002" /></li>
            <li><label for="prenom" id="lblPrenom">Prénom : *</label>
            <input type="text" name="prenom" id="ajoutPrenom" value="Sara-Maude" /></li>
            <li><label for="nom">Nom : *</label>
            <input type="text" name="nom" id="ajoutNom" value="Noreau" /></li>
            <li><label for="courriel">Courriel : *</label>
            <input type="email" name="courriel" id="ajoutCourriel" value="smnoreau@gmail.com" /></li>
            <li><label for="adresse">Adresse : *</label>
            <input type="text" name="adresse" id="ajoutAdresse" value="555 avenue blabla" /></li>
            <li><label for="ville">Ville : *</label>
            <input type="text" name="ville" id="ajoutVille" value="Maputo" /></li>
            <li><label for="naissance">Date de naissance : *</label>
            <input type="date" name="naissance" id="ajoutNaissance" value="1993-09-10" /></li>
            <li><label for="ecole">École : *</label>
                <select name="ecole">
                    <option>École 1</option>
                    <option selected="selected">École 2</option>
                    <option>École 3</option>
                </select></li>
            <li><label for="secteur">Secteurs : *</label>
                <input type="checkbox" name="secteur" value="1" checked="checked" />Agriculture
                <input type="checkbox" name="secteur" value="2" />Tourisme
                <input type="checkbox" name="secteur" value="3" />Construction</li>
            <li><label for="role">Rôle : *</label>
                <select name="role">
                    <option>Professeur</option>
                    <option selected="selected">Étudiant</option>
                    <option>Administrateur</option>
                </select></li>
            <li><label for="langue">Langue : *</label>
                <input type="radio" name="langue" value="FR" checked="checked" />Français
                <input type="radio" name="langue" value="PT" />Portuguais</li>
            <li><input type="submit" class="btnForm" id="btnModifierUtil" value="Modifier" />
            <a href="utilisateurs?supprimer=1" class="btnForm">Supprimer</a>
            <a href="utilisateurs" class="btnForm">Annuler</a>
            </li>
        </ul>
    </form>
<script type="text/javascript">
    $(document).ready(function () {
        $(".nav-secondaire").toggle();
        $("#btnModifierUtil").click(function(e) {
            e.preventDefault();
            $(".msgOk").html("L'utilisateur a été modifié avec succès");
            $(".msgErreur").html("L'utilisateur ne peut être modifié. Les champs avec un * sont obligatoires");
            $("#ajoutPrenom").focus();
            $("#lblPrenom").addClass("msgErreur");
        });
    });
</script>
