@{
    ViewBag.Title = "Section Qui sommes-nous ?";
}

<h1>Qui sommes-nous ?</h1>
<p>Les champs marqués d'une étoile sont obligatoires.</p>
<form>
    <label for="txtMission">Section "Notre mission" : * </label>
    <br />
    <textarea name="txtMission">Nulla vitae elit libero, a pharetra augue. Vivamus sagittis lacus vel augue laoreet
        rutrum faucibus dolor auctor. Donec ullamcorper nulla non metus auctor fringilla.
        Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa 
    justo sit amet risus. Maecenas sed diam eget risus varius blandit sit amet non magna.</textarea>
    <br />
    <label for="txtEntreprise">Section "L'entreprise" : *</label>
    <br />
    <textarea name="txtEntreprise">Nulla vitae elit libero, a pharetra augue. Vivamus sagittis lacus vel augue laoreet
        rutrum faucibus dolor auctor. Donec ullamcorper nulla non metus auctor fringilla.
        Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa 
    justo sit amet risus. Maecenas sed diam eget risus varius blandit sit amet non magna.</textarea>
</form>
