@{
    ViewBag.Title = "Modifier un message";
}

<h1>Modifier un message</h1>

<div class="msg">
    <p>@projet_mozambique.Utilitaires.Constantes.MESSAGE_CHAMPS_OBLIGATOIRE</p>
</div>

<form method="post" action="#" class="formulaire nouveau-message">

    *<br />
    <textarea autofocus>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam blandit est aliquet nulla aliquam, vel pellentesqu
         neque fringilla. Duis sodales dolor ac tortor tincidunt vulputate. Mauris id sapien magna. Aenean hendrerit interdum
         massa, sed vestibulum justo pharetra eget. Etiam ac ligula eget nulla faucibus fermentum vitae nec magna. In non 
        augue bibendum, molestie felis et, accumsan metus. Aenean libero leo, bibendum et libero quis, lobortis mollis elit.
         Proin eget quam suscipit, fermentum magna nec, aliquam tortor. Vestibulum tempor ullamcorper fringilla. Mauris 
        interdum enim at erat ultricies venenatis. Integer gravida tortor id convallis congue. Integer vitae elementum turpis,
         quis pellentesque purus. Aliquam ut urna sed purus ultrices dignissim. Nunc imperdiet scelerisque enim eget viverra.
    </textarea><br />

    <input type="submit" class="btnForm" value="Publier" />
    <a href="#">ERREUR</a>
</form>




