@{
    ViewBag.Title = "Ajouter un événement";
}

<h1>Modifier un événement</h1>

<div class="msg">
    <p>@projet_mozambique.Utilitaires.Constantes.MESSAGE_CHAMPS_OBLIGATOIRE</p>
</div>

<form method="post" action="ModifEvenementOK" class="formulaire evenement">

    <div>
        <label for="nom">Nom de l'événement : *</label>
        <input type="text" id="nom" name="nom" value="Lorem Ipsum"/>
    </div>

    <div>
        <label for="endroit">Endroit : *</label>
        <input type="text" id="endroit" name="endroit" value="École XY"/>
    </div>

    <div>
        <label for="endroit">Adresse : *</label>
        <input type="text" id="adresse" name="adresse" value="123 rue de la Croix"/>
    </div>

    <div>
        <label>Secteur : *</label>
        <input type="checkbox" name="construction" value="construction" id="const" checked /><label for="const" class="cb">Construction</label>
        <input type="checkbox" name="agriculture" value="agriculture" id="agric" checked /><label for="agric" class="cb">Agriculture</label>
    </div>

    <div>
        <label for="datepicker">Date : *</label>
        <input type="date" id="datepicker" name="datepicker" value="2013-10-12"/>        
    </div>

    <div>
        <label for="heure-deb">Heure début : *</label>
        <input type="time" name="heure-deb" id="heure-deb" value="18:00" />
    </div>

    <div>
        <label for="heure-fin">Heure fin : </label>
        <input type="time" name="heure-fin" id="heure-fin" />
    </div>

    <div>
        <label for="cate">Catégorie : *</label>
        <select name="categorie" id="categorie">
            <option value="undefined"></option>
            <option value="Categorie1" selected>Categorie 1</option>
            <option value="Categorie2">Categorie 2</option>
            <option value="Categorie3">Categorie 3</option>
        </select>
    </div>

    <div>
        <label for="desc">Description : *</label>
        <textarea name="desc" id="desc">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus venenatis ac dolor at cursus. Nulla lobortis, 
            enim vitae ultrices suscipit, felis lorem molestie nulla, sed ornare erat orci ut eros. Mauris at condimentum
            dolor. Nulla quis sollicitudin tortor, facilisis vehicula lectus. Vivamus feugiat, diam a aliquet laoreet, quam
            ante hendrerit metus, a lacinia.
        </textarea>
    </div>

    <input type="submit" class="btnForm" value="Modifier"/>
    <p><a href="ModifEvenementErreur">ERREUR</a></p>
</form>

