@{
    ViewBag.Title = "Gestion des utilisateurs";
}

<h1>Résultats de la recherche</h1>
<p>Nom : Noreau</p>
<ul>
    <li>@Html.ActionLink("Marie-Christine Noreau (mcnoreau001)", "modifierUtil")</li>
    <li>@Html.ActionLink("Sara-Maude Noreau (smnoreau002)", "modifierUtil")</li>
</ul>

<script type="text/javascript">
    $(document).ready(function () {
        $(".nav-secondaire").toggle();
    });
</script>