@{
    ViewBag.Title = "Gestion des utilisateurs";
}

<h2>Résultats de la recherche</h2>
<p>Nom : Noreau</p>
<ul>
    <li>Marie-Christine Noreau (mcnoreau001)
        @Html.ActionLink("Modifier", "modifierUtil", new { supprime = false }, new { @class="modifier" })
        @Html.ActionLink("Supprimer", "modifierUtil", new { supprime = true }, new { @class="supprimer" })</li>
    <li>Sara-Maude Noreau (smnoreau002)
        @Html.ActionLink("Modifier", "modifierUtil", new { supprime = false }, new { @class="modifier" })
        @Html.ActionLink("Supprimer", "modifierUtil", new { supprime = true }, new { @class="supprimer" })</li>
</ul>