@{
    ViewBag.Title = "Role";
    string role = ViewData["role"].ToString();
}

<h1>@role</h1>

<p>Les champs marqués d'une étoile sont obligatoires.</p>
<p class="msgErreur">Le rôle ne peut pas être modifié. <br />Un nom doit être saisi.<br />Au moins un droit doit être sélectionné.<br />Le rôle ne peut être supprimé.</p>
<form action="roles">
    <label for="nomRole">Nom du rôle : *</label>
    <input type="text" name="nomRole" value="@role" />
    <br />
    <label for="secteur">Droits de l'utilisateur : *</label>
    <input type="checkbox" name="secteur" value="1" id="1" checked="checked" /><label for="1" class="cb">Publier des documents</label>
    <br />
    <input type="checkbox" name="secteur" value="2" id="2" /><label for="2" class="cb">Supprimer des documents</label>
    <br />
    <input type="checkbox" name="secteur" value="3" id="3"/><label for="3" class="cb">Ajouter/Modifier/Supprimer des utilisateurs</label>
    <br />
    <br />
    <a href="roles?supprimer=1" class="btnForm">Modifier</a>
    <a href="roles?supprimer=1" class="btnForm">Supprimer</a>
    <a href="roles" class="btnForm">Annuler</a>
    <br />
</form>

<script type="text/javascript">
    $(document).ready(function () {
        $(".nav-secondaire").toggle();
        });
</script>