@{
    ViewBag.Title = "Gestion des rôles";
}

<h1>Gestion des rôles</h1>

<ul class="liste-fleche">
    <li>@Html.ActionLink("Professeur", "getRole", new { nomRole = "Professeur" })</li>
    <li>@Html.ActionLink("Étudiant", "getRole", new { nomRole = "Étudiant" })</li>
    <li>@Html.ActionLink("Administrateur", "getRole", new { nomRole = "Administrateur" })</li>
</ul>

