@{
    ViewBag.Title = "Sondages";
}

<h1><a href="AjouterSondage"><img src="~/Content/images/icones/icon-add.png" alt="Icône ajouter sondage" class="icone" /></a> Sondage</h1>

<div class="sondage">
    <form method="post" action="#">
        <h2>Question?</h2>
        <div class="choix-reponses">
            <p>
                <input type="radio" value="oui" name="question" />
                <label class="radio">Oui</label>                
            </p>
            <p>
                <input type="radio" value="non" name="question" />
                <label class="radio">Non</label>
            </p>
        </div>
        <input type="submit" class="btnForm" value="Voter"/>
    </form>
    
</div>


<div class="sondage">
    <form method="post" action="#">
        <h2>Encore une question?</h2>
        <div class="choix-reponses">
            <p>
                <input type="radio" value="oui" name="question" />
                <label class="radio">Oui</label>                
            </p>
            <p>
                <input type="radio" value="non" name="question" />
                <label class="radio">Non</label>
            </p>
        </div>
        <input type="submit" class="btnForm" value="Voter"/>
    </form>
    
</div>
