@{
    ViewBag.Title = "Gestion des utilisateurs";
}

<h1>Gestion des utilisateurs</h1>
@{
    if(String.IsNullOrEmpty(Request.QueryString["supprimer"]) == false)
    {
        <p class="msgOk">L'utilisateur a été supprimé.</p>
        <p class="msgErreur">L'utilisateur ne peut pas être supprimé.</p>
    
    }
    else {  
        <p class="msgErreur">Veuillez entrez au moins un champ de recherche.</p>
    }
}

<form id="frmRechUtil" method="post" action="rechUtil">
    <ul>
        <li>
            <label for="nom">Identifiant : </label>
            <input type="text" name="nom" id="gestionId" />
        </li>
        <li><label for="prenom">Prénom : </label>
            <input type="text" name="prenom" id="gestionPrenom" /></li>
        <li><label for="nom">Nom : </label>
            <input type="text" name="nom" id="gestionNom" /></li>
        <li><label for="ecole">École : </label>
            <input type="text" name="ecole" id="gestionEcole" /></li>
        <li><label for="secteur">Secteur : </label>
            <input type="text" name="ecole" id="gestionSecteur" /></li>   
        <li> <input type="submit" id="btnGestionRech" value="Rechercher" class="btnForm" />
            <a href="ajoutUtil" class="btnForm">Ajouter</a>
        </li>   
    </ul>
</form>



<script type="text/javascript">
    $(document).ready(function () {
        $(".nav-secondaire").toggle();
    });
</script>

