@{
    ViewBag.Title = Resources.Shared.help;
}

<h1>@ViewBag.Title</h1>

<ul>
    @if (ViewBag.Admin)
    {
        <li><a href="~/Content/pdf/guide-admin.pdf">@Resources.Sectoriel.guideAdmin</a></li>
    }
    <li><a href="~/Content/pdf/guide-utilisateur.pdf">@Resources.Sectoriel.guideUtil</a></li>

</ul>