@{
    ViewBag.Title = Resources.Shared.help;
}

<h1>@ViewBag.Title</h1>

<ul>
    @if (ViewBag.Admin)
    {
        <li><a href="~/Content/pdf/@Resources.Shared.lienGuideAdmin">@Resources.Sectoriel.guideAdmin</a></li>
    }
    <li><a href="~/Content/pdf/@Resources.Shared.lienGuideUtil">@Resources.Sectoriel.guideUtil</a></li>

</ul>