@{
    ViewBag.Title = "Messagerie";
}

<h1>Messagerie</h1>

<nav class="nav-tab">
    <ul>
        <li>@Html.ActionLink("Boite de réception", "Messagerie", new { controller = "Sectoriel" })</li>
        <li>@Html.ActionLink("Nouveau message", "NouveauMessage", new { controller = "Sectoriel" })</li>
        <li>@Html.ActionLink("Messages envoyés", "MessagesEnvoyes", "Sectoriel")</li>
        <li>@Html.ActionLink("Corbeille", "Corbeille", new { controller = "Sectoriel" }, new { @class = "tab-active" })</li>
    </ul>
</nav>

<div class="messagerie">
    <div id="reception" class="mess-reception">
        <div class="actions-boite-reception">
            <p>
                <a href="#">Supprimer</a>
            </p>
        </div>
        <ul>
            <li class="msg-courant"><a href="#"><input type="checkbox" />Salut toi! 
                <span class="infos-supp-msg">
                    | 2 octobre 2013 14:55
                    <img class="attachment" src="~/Content/images/icones/icon-attachment.png" alt="Icône pièce jointe" />
                </span></a></li>
            <li><a href="#"><input type="checkbox" />Hey mon ami préféré! 
                <span class="infos-supp-msg">| 2 octobre 2013 14:55
                </span></a></li>
            <li><a href="#"><input type="checkbox" />Salut toi! <span class="infos-supp-msg">| 2 octobre 2013 14:55</span></a></li>
            <li><a href="#"><input type="checkbox" />Salut toi! <span class="infos-supp-msg">| 2 octobre 2013 14:55</span></a></li>
        </ul>
    </div>
    <div id="lecture" class="mess-lecture">
        <div class="actions-messagerie">
            <div class="icones-actions">        
                <a href="#"><img src="~/Content/images/icones/icon-reply.png" alt="Icône répondre" /></a>
                <a href="#"><img src="~/Content/images/icones/icon-trashcan.png" alt="Icône supprimer" /></a>
            </div>
        </div>
        <p>
            Bonjour Vanessa,
        </p>

        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eu scelerisque risus, nec cursus metus.
            Vivamus lobortis felis ac turpis fringilla, in convallis risus hendrerit. Phasellus sit amet cursus metus. Sed dictum
            felis sapien, non venenatis eros ultrices eu. Aenean iaculis facilisis lectus, eu pulvinar quam convallis at. Fusce
            a mi et turpis eleifend vulputate non iaculis nibh. Vivamus vel fringilla tellus. Ut nisi est, mattis id ipsum et, 
            congue ornare erat. Nullam ac velit eu purus interdum congue vitae iaculis nibh. In a ultrices nulla. Fusce adipiscing
            magna at metus eleifend dictum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis
            egestas. Nullam rhoncus aliquet leo. Suspendisse potenti.
        </p>

        <p>
            Nam eget urna condimentum, adipiscing velit ac, fermentum elit. Maecenas volutpat vulputate metus, non convallis
            nibh cursus nec. In et varius nibh, vitae consequat odio. Ut sed dapibus arcu. Curabitur hendrerit felis eget lorem
            ultricies, quis accumsan nunc ornare. Maecenas justo risus, sagittis a quam non, lacinia sodales turpis. Aenean
            dictum augue et faucibus rhoncus. Donec condimentum ante nibh, sit amet ultrices enim tempus nec. Curabitur
            vestibulum et nulla at porta. Fusce facilisis aliquam molestie.
        </p>
    </div>
</div>


