@{
    ViewBag.Title = "Documents (Droit de publication)";
}

<h1><a href="PublicationDocument"><img src="~/Content/images/icones/icon-add.png" alt="Icône Ajouter" class="icone" /></a>Documents</h1>

<div class="choix-secteur">
    <ul>
        <li><a href="#" class="secteur-actif">Construction</a></li>
        <li><a href="#">Agriculture</a></li>
    </ul>
</div>

<div class="recherche-doc">

    <form action="#" method="get">
        <label for="mot-cle">Recherche par mot-clé : </label>
        <input id="mot-cle" name="mot-cle" placeholder="mot-clé" type="text" /><br />
        <label for="categorie">Recherche par catégorie : </label>
        <select>
            <option value="Categorie1">Categorie 1</option>
            <option value="Categorie2">Categorie 2</option>
            <option value="Categorie3">Categorie 3</option>
            <option value="Categorie4">Categorie 4</option>
            <option value="Categorie5">Categorie 5</option>
        </select>

        <input type="submit" value="Rechercher" class="btnForm" />
    </form>

</div>

<div class="line-separator"></div>

<div id="cat1" class="categorie">
    <h2>Catégorie 1 (3 documents)</h2>
    <div>
        <ul>
            <li><a href="#"><img src="~/Content/images/icones/icone-excel.png" alt="Fichier Excel" />Document 1
                <span class="date-document">(ajouté le 3 octobre 2013)</span>
                </a></li>
            <li><a href="#"><img src="~/Content/images/icones/icone-text.png" alt="Fichier Texte" />Document 2
                <span class="date-document">(ajouté le 3 octobre 2013)</span>
                </a></li>
            <li><a href="#"><img src="~/Content/images/icones/icone-text.png" alt="Fichier Texte" />Document 3
                <span class="date-document">(ajouté le 3 octobre 2013)</span>
                </a></li>
        </ul>
    </div>
</div>
<div id="cat2" class="categorie">
    <h2>Catégorie 3 (4 documents)</h2>
    <div>
        <ul>
            <li><a href="#"><img src="~/Content/images/icones/icone-pdf.png" alt="Fichier PDF" />Document 1</a>
                <span class="date-document">(ajouté le 3 octobre 2013)</span>
            </li>
            <li><a href="#"><img src="~/Content/images/icones/icone-excel.png" alt="Fichier Excel" />Document 2</a>
                <span class="date-document">(ajouté le 3 octobre 2013)</span>
            </li>
            <li><a href="#"><img src="~/Content/images/icones/icone-text.png" alt="Fichier Text" />Document 3</a>
                <span class="date-document">(ajouté le 3 octobre 2013)</span>
            </li>
            <li><a href="#"><img src="~/Content/images/icones/icone-pdf.png" alt="Fichier PDF" />Document 3</a>
                <span class="date-document">(ajouté le 3 octobre 2013)</span>
            </li>
        </ul>
    </div>
</div>

<script>
    $(function () {
        $("#cat1").accordion({
            heightStyle: "content",
            collapsible: true,
            active:false
        });
    });

    $(function () {
        $("#cat2").accordion({
            heightStyle: "content",
            collapsible: true,
            active: false
        });
    });
  </script>
