@model projet_mozambique.Models.SECTEUR
@{
    ViewBag.Title = "Accueil";
}

<h1>@Model.TITREACCUEIL - Secteur @Model.NOM</h1>
<img class="img-accueil" src="@Model.URLIMAGEACCUEIL" alt="Photo" />
<p>@Model.TEXTEACCUEIL</p>


