<nav class="menu-messagerie">
    <ul>
        <li class="active">@Html.ActionLink("Boite de réception", "Messagerie", new { controller = "Sectoriel" })</li><li>@Html.ActionLink("Messages envoyés", "MessagesEnvoyes", new { controller = "Sectoriel" })</li><li>@Html.ActionLink("Corbeille", "Corbeille", new { controller = "Sectoriel" })</li>
    </ul>
</nav>