<ul>
    <li><a href="/" class="separateur">Accueil</a></li>
    <li><a href="/" class="separateur">Publications</a></li>
    <li><a href="/" class="separateur">Messagerie</a></li>
    <li><a href="/" class="separateur">Forum</a></li>
    <li><a href="/" class="separateur">Recherche</a></li>
    <li><a href="/">Sondages</a></li>
</ul>