@using projet_mozambique.Models;
@using projet_mozambique.Utilitaires
@{
    ViewBag.Title = "Messagerie";
}

<h1>Messagerie</h1>

<nav class="menu-messagerie">
    <ul>
        <li class="active" id="recep">@Ajax.ActionLink("Boite de réception", "BoiteReception", new { controller = "Sectoriel" }, new AjaxOptions { InsertionMode = InsertionMode.Replace, UpdateTargetId = "messages", OnComplete = "naviguerMessagerie('recep')" })</li>
        <li id="env">@Ajax.ActionLink("Messages envoyés", "MessagesEnvoyes", new { controller = "Sectoriel" }, new AjaxOptions { InsertionMode = InsertionMode.Replace, UpdateTargetId = "messages", OnComplete = "naviguerMessagerie('env')" })</li>
        <li id="corb">@Ajax.ActionLink("Corbeille", "Corbeille", new { controller = "Sectoriel" }, new AjaxOptions { InsertionMode = InsertionMode.Replace, UpdateTargetId = "messages", OnComplete = "naviguerMessagerie('corb')" })</li>
    </ul>
</nav>

<div class="messagerie">
    <div id="reception" class="mess-reception">
        <div class="actions-boite-reception">
            <ul>
                <li>@Html.ActionLink("Nouveau", "NouveauMessage", "Sectoriel")</li>
                <li><a href="SupprimerMessage">Supprimer</a></li>
            </ul>
        </div>
        <div id="messages">
            @{Html.RenderPartial("~/Views/Sectoriel/ListeMessages.cshtml");}
        </div>
    </div>
    <div id="lecture" class="mess-lecture">
        <div class="actions-messagerie">
            <div class="icones-actions">        
                <a href="RepondreMessage"><img src="~/Content/images/icones/icon-reply.png" title="Répondre" alt="Icône répondre" /></a>
                <a href="SupprimerMessage"><img src="~/Content/images/icones/icon-trashcan.png" title="Supprimer" alt="Icône supprimer" /></a>
            </div>
        </div>
        <div id="contenu-message">

        </div>
    </div>
</div>


<script>
    function naviguerMessagerie(clic) {
        
        $(".active").removeClass("active");

        switch (clic)
        {
            case "recep":
                $("#recep").addClass("active");
                break;
            case "env":
                $("#env").addClass("active");
                break;
            case "corb":
                $("#corb").addClass("active");
                break;                
        }

    }
</script>

