@{
    ViewBag.Title = "Participer";
}

<h1>Participer</h1>

<div class="msg erreur">
    <p>@projet_mozambique.Utilitaires.Constantes.MESSAGE_CHAMPS_OBLIGATOIRE</p>
    <p>Votre message n'a pu être ajouté au fil de discussion.</p>
    <ul>
        <li>Vous devez écrire un message.</li>
    </ul>
</div>

<form method="post" action="MessageFilAjouteOK" class="formulaire nouveau-message">

    <span class="erreur">*</span><br />
    <textarea autofocus></textarea><br />

    <input type="submit" class="btnForm" value="Publier" />
    <a href="MessageFilPasAjoute">ERREUR</a>
</form>




