@{
    ViewBag.Title = "Modifier préférences";
}

<h1>Modifier vos préférences</h1>

<div class="msg succes">
    <p>Vos préférences ont bien été modifiées.</p>
</div>

<form method="post" action="ModifierPreferencesOK" class="formulaire">

    <div>
        <label for="langue">Langue d'affichage : </label>
        <select name="langue" id="langue">
            <option value="pr">Portugais</option>
            <option value="fr">Français</option>
        </select>
    </div>

    <input type="submit" class="btnForm" value="Modifier" />
</form>
