@{
    ViewBag.Title = "Modifier mot de passe";
}

<h1>Modifier votre mot de passe</h1>

<div class="msg erreur">
    <p>@projet_mozambique.Utilitaires.Constantes.MESSAGE_CHAMPS_OBLIGATOIRE</p>
    <ul>
        <li>Le mot de passe actuel est erroné.</li>
    </ul>
</div>

<form method="post" action="ModifierMotPasseOK" class="formulaire">

    <div>
        <label for="courantpwd" class="erreur">Mot de passe actuel : *</label>
        <input type="password" id="courantpwd" name="courantpwd" autofocus/>
    </div>

    <div>
        <label for="nouveaupwd">Nouveau mot de passe : *</label>
        <input type="password" id="nouveaupwd" name="nouveaupwd"/>
    </div>

    <div>
        <label for="confirmpwd">Répétez le nouveau mot de passe : *</label>
        <input type="password" id="confirmpwd" name="confirmpwd"/>
    </div>

    <input type="submit" class="btnForm" value="Modifier" />
    <p><a href="ModifierMotPasseErreur">ERREUR</a></p>
</form>

