@{
    ViewBag.Title = "Modifier mot de passe";
}

<h1>Modifier votre mot de passe</h1>

<div class="msg succes">
    <p>Votre mot de passe a bien été modifié­.</p>
</div>

<form method="post" action="ModifierMotPasseOK" class="formulaire">

    <div>
        <label for="courantpwd">Mot de passe actuel : *</label>
        <input type="password" id="courantpwd" name="courantpwd" autofocus/>
    </div>

    <div>
        <label for="nouveaupwd">Nouveau mot de passe : *</label>
        <input type="password" id="nouveaupwd" name="nouveaupwd"/>
    </div>

    <div>
        <label for="confirmpwd">Répétez le nouveau mot de passe : *</label>
        <input type="password" id="confirmpwd" name="confirmpwd"/>
    </div>

    <input type="submit" class="btnForm" value="Modifier" />
</form>
