@{
    ViewBag.Title = "Messagerie";
}

<h1>Messagerie</h1>

<nav class="nav-tab">
    <ul>
        <li>@Html.ActionLink("Boite de réception", "Messagerie", new { controller = "Sectoriel" })</li>
        <li>@Html.ActionLink("Nouveau message", "NouveauMessage", new { controller = "Sectoriel" }, new { @class = "tab-active" })</li>
        <li>@Html.ActionLink("Messages envoyés", "MessagesEnvoyes", new { controller = "Sectoriel" })</li>
        <li>@Html.ActionLink("Corbeille", "Corbeille", "Sectoriel")</li>
    </ul>
</nav>

<form method="post" action="MessageEnvoyeOK" class="formulaire nouveau-message">

    <div>
        <label for="destinataire">Destinataires : </label>
        <input autofocus type="text" name="destinataire" id="destinataire" readonly="true" /> 
        <input type="button" id="btnDestinataires" value="Sélectionner" class="btnForm"/>  
    </div>

    <div>
        <label for="sujet">Sujet du message : </label>
        <input autofocus type="text" name="sujet" id="sujet" placeholder="Sujet" />
    </div>

    <textarea></textarea><br />

    <input type="submit" class="btnForm" value="Envoyer" />
    <a href="MessagePasEnvoye">ERREUR</a>
</form>




