@{
    ViewBag.Title = "Profil";
    /*string message = "";
    if (ViewData["msgOK"] != null)
    {
        message = ViewData["msgOk"].ToString();
    }*/
}

<h1>Profil de @User.Identity.Name</h1>

@*<p class="msgOk">@message</p>*@

<ul class="liste-fleche">
    <li>
        @Html.ActionLink("Modifier vos informations personnelles", "ModifierInfos")
    </li>
    <li>
        @Html.ActionLink("Modifier votre mot de passe", "ModifierMDP")
    </li>
</ul>


