@{
    ViewBag.Title = "Résultats de recherche";
}

<h1>Résultats de recherche</h1>

<p>Résultats pour le mot-clé : <span class="gras">patate</span> dans la catégorie <span class="gras">XY</span></p>

<div class="result-rech-doc">
    <ul>
        <li><a href="#"><img src="~/Content/images/icones/icone-excel.png" alt="Fichier Excel" />Document 1
            <span class="date-document">(ajouté le 3 octobre 2013)</span>
            </a></li>
        <li><a href="#"><img src="~/Content/images/icones/icone-text.png" alt="Fichier Texte" />Document 2
            <span class="date-document">(ajouté le 3 octobre 2013)</span>
            </a></li>
        <li><a href="#"><img src="~/Content/images/icones/icone-text.png" alt="Fichier Texte" />Document 3
            <span class="date-document">(ajouté le 3 octobre 2013)</span>
            </a></li>
    </ul>
</div>