USE [master]
GO
/****** Object:  Database [MVP]    Script Date: 2013-11-04 06:36:40 ******/
CREATE DATABASE [MVP]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MVP', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\MVP.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'MVP_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\MVP_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MVP].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MVP]
GO
/****** Object:  User [profFXG]    Script Date: 2013-11-04 06:36:40 ******/
CREATE USER [profFXG] FOR LOGIN [profFXG] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  StoredProcedure [dbo].[AjouterChoixSondage]    Script Date: 2013-11-04 06:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Marie-Christ
-- Create date: 2013-09-16
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[AjouterChoixSondage]
	@sondage int, 
	@valeur varchar(60)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	INSERT INTO CHOIXSONDAGE VALUES (@sondage, @valeur)
END





GO
/****** Object:  StoredProcedure [dbo].[AjouterDestinataireMess]    Script Date: 2013-11-04 06:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Marie-Christine Noreau
-- Create date: 2013-09-16
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[AjouterDestinataireMess]
	@message int, 
	@destinataire int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	INSERT INTO DESTINATAIREMESSAGE(IDMESSAGE, IDUTILISATEUR) VALUES (@message, @destinataire)
	
END





GO
/****** Object:  StoredProcedure [dbo].[AjouterEcole]    Script Date: 2013-11-04 06:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Marie-Christine Noreau
-- Create date: 2013-09-16
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[AjouterEcole]
	@nom varchar(60), 
	@adresse varchar(50), 
	@ville varchar(40)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	INSERT INTO ECOLE(NOM, ADRESSE, VILLE) VALUES (@nom, @adresse, @ville)
END





GO
/****** Object:  StoredProcedure [dbo].[AjouterEven]    Script Date: 2013-11-04 06:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Marie-Christine Noreau
-- Create date: 2013-09-16
-- Description: <Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[AjouterEven](@nomeven varchar(50), @dateeven date, @debut time = null, @fin time = null, 
							@categorie int)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	INSERT INTO EVENEMENT (NOM, DATEEVEN, HEUREDEBUT, HEUREFIN, IDCATEGORIE)
	VALUES (@nomeven, @dateeven, @debut, @fin, @categorie)
END





GO
/****** Object:  StoredProcedure [dbo].[AjouterFilDiscussion]    Script Date: 2013-11-04 06:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Marie-Christine Noreau
-- Create date: 2013-09-16
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[AjouterFilDiscussion]
	@sujet varchar(100),
	@forum int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	INSERT INTO FILDISCUSSION (SUJET, IDFORUM) VALUES (@sujet, @forum)
END





GO
/****** Object:  StoredProcedure [dbo].[AjouterMessageForum]    Script Date: 2013-11-04 06:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Marie-Christine Noreau
-- Create date: 2013-09-16
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[AjouterMessageForum]
	@contenu text,
	@util int, 
	@fildiscu int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	INSERT INTO MESSAGEFORUM(CONTENU, IDUTILISATEUR, IDFILDISCUSSION) VALUES (@contenu, @util, @fildiscu)

	-- Ajouter l'id du message créé comme idDernierMessage dans FILDISCUSSION (Déclencheur)
END





GO
/****** Object:  StoredProcedure [dbo].[AjouterMessagePrive]    Script Date: 2013-11-04 06:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Marie-Christine Noreau
-- Create date: 2013-09-16
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[AjouterMessagePrive]
	@expediteur int, 
	@sujet varchar(50),
	@contenu text
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	INSERT INTO MESSAGEPRIVE(IDEXPEDITEUR, SUJET, CONTENU) VALUES (@expediteur, @sujet, @contenu)
	

END





GO
/****** Object:  StoredProcedure [dbo].[AjouterMotCle]    Script Date: 2013-11-04 06:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Marie-Christine Noreau
-- Create date: 2013-09-16
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[AjouterMotCle]
	@idpub int,
	@valeur varchar(50),
	@return_value int output
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	DECLARE @motexiste int
	DECLARE @dernier int

	SET @motexiste = (SELECT COUNT(*) FROM MOTCLE WHERE VALEUR LIKE @valeur)
	
	IF @motexiste = 0
		BEGIN
			INSERT INTO MOTCLE VALUES (@valeur)
			SET @dernier = @@IDENTITY
			SET @return_value = 1
		END
	ELSE 
		BEGIN
			SET @dernier = (SELECT VALEUR FROM MOTCLE WHERE VALEUR LIKE @valeur)
			SET @return_value = 0
		END

	INSERT INTO MOTCLEPUBLICATION VALUES (@idpub, @dernier)
END





GO
/****** Object:  StoredProcedure [dbo].[AjouterNouvelle]    Script Date: 2013-11-04 06:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Marie-Christine Noreau
-- Create date: 2013-09-16
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[AjouterNouvelle]
	@titre varchar(60), 
	@description text
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	INSERT INTO NOUVELLE (TITRE, DESCRIPTION) VALUES (@titre, @description)
END





GO
/****** Object:  StoredProcedure [dbo].[AjouterPartenaire]    Script Date: 2013-11-04 06:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Marie-Christine Noreau
-- Create date: 2013-09-16
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[AjouterPartenaire]
	@nom varchar(60),
	@raisonsociale text,
	@adr varchar(65),
	@ville varchar(65),
	@pays varchar(60),
	@tel varchar(20),
	@siteweb varchar(150),
	@courriel varchar(150)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	INSERT INTO PARTENAIRE VALUES (@nom, @raisonsociale, @adr, @ville, @pays, @tel, @siteweb, @courriel)
END





GO
/****** Object:  StoredProcedure [dbo].[AjouterPieceJointe]    Script Date: 2013-11-04 06:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Marie-Christine Noreau
-- Create date: 2013-09-16
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[AjouterPieceJointe]
	@message int, 
	@pieceserialisee varbinary(max),
	@taillepiece varchar(40), 
	@nompiece varchar(150)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	INSERT INTO PIECEJOINTE VALUES (@message, @pieceserialisee, @taillepiece, @nompiece)
END





GO
/****** Object:  StoredProcedure [dbo].[AjouterPublication]    Script Date: 2013-11-04 06:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AjouterPublication]
	@titre varchar(60),
	@description varchar(100),
	@secteur int,
	@sujet int,
	@nomfichieroriginal varchar(100),
	@nomfichierserveur varchar(32),
	@mimetype varchar(100),
	@idpublicateur int,
	@idpub int output
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	INSERT INTO PUBLICATION (TITRE, DESCRIPTION, IDSECTEUR, IDSUJET, NOMFICHIERORIGINAL, NOMFICHIERSERVEUR, MIMETYPE, IDPUBLICATEUR)
	VALUES (@titre, @description, @secteur, @sujet, @nomfichieroriginal, @nomfichierserveur, @mimetype, @idpublicateur)

	SET @idpub = @@IDENTITY
END



GO
/****** Object:  StoredProcedure [dbo].[AjouterSectEcole]    Script Date: 2013-11-04 06:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Marie-Christine Noreau
-- Create date: 2013-09-16
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[AjouterSectEcole]
	@idecole int, 
	@idsecteur int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	INSERT INTO ECOLESECTEUR VALUES (@idecole, @idsecteur)
END





GO
/****** Object:  StoredProcedure [dbo].[AjouterSecteur]    Script Date: 2013-11-04 06:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Marie-Christine Noreau
-- Create date: 2013-09-16
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[AjouterSecteur]
	@nom varchar(40)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	INSERT INTO SECTEUR VALUES (@nom)
END





GO
/****** Object:  StoredProcedure [dbo].[AjouterSectEven]    Script Date: 2013-11-04 06:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Marie-Christine Noreau
-- Create date: 2013-09-16
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[AjouterSectEven] (@secteur int, @even int)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	INSERT INTO EVENEMENTSECTEUR VALUES (@even, @secteur)
END





GO
/****** Object:  StoredProcedure [dbo].[AjouterSondage]    Script Date: 2013-11-04 06:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Marie-Christine Noreau
-- Create date: 2013-09-16
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[AjouterSondage]
	@nom varchar(60),
	@question varchar(255),
	@debut datetime, 
	@fin datetime,
	@createur int, 
	@secteur int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	INSERT INTO SONDAGE VALUES (@nom, @question, @debut, @fin, @createur, @secteur)
END





GO
/****** Object:  StoredProcedure [dbo].[AjouterSujetPub]    Script Date: 2013-11-04 06:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Marie-Christine Noreau
-- Create date: 2013-09-16
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[AjouterSujetPub]
	@sujet varchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	INSERT INTO SUJETPUBLICATION VALUES(@sujet)
END





GO
/****** Object:  StoredProcedure [dbo].[AjouterUtilSecteur]    Script Date: 2013-11-04 06:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Marie-Christine Noreau
-- Create date: 2013-09-16
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[AjouterUtilSecteur] (@id int, @secteur int) 
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	INSERT INTO UTILISATEURSECTEUR VALUES (@id, @secteur)
END





GO
/****** Object:  StoredProcedure [dbo].[AjouterVoteSondage]    Script Date: 2013-11-04 06:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Marie-Christine Noreau
-- Create date: 2013-09-16
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[AjouterVoteSondage]
	@util int, 
	@choix int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	INSERT INTO VOTESONDAGE VALUES (@util, @choix)
END





GO
/****** Object:  StoredProcedure [dbo].[AugmenterNbrLectures]    Script Date: 2013-11-04 06:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Marie-Christine Noreau
-- Create date: 2013-09-16
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[AugmenterNbrLectures]
	@idfildiscussion int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	DECLARE @nblectures int

	SET @nblectures = (SELECT NBLECTURES FROM FILDISCUSSION WHERE ID = @idfildiscussion)

	UPDATE FILDISCUSSION
	SET NBLECTURES = @nblectures + 1
	WHERE ID = @idfildiscussion
END





GO
/****** Object:  StoredProcedure [dbo].[GetContenu]    Script Date: 2013-11-04 06:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[GetContenu] 
	@nomPage varchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT * FROM CONTENU WHERE PAGE = @nomPage
END



GO
/****** Object:  StoredProcedure [dbo].[GetDestinataires]    Script Date: 2013-11-04 06:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetDestinataires]
	@idMessage int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	SELECT U.PRENOM + ' ' + U.NOM AS NOMDEST
	FROM DESTINATAIREMESSAGE DM
	INNER JOIN UTILISATEUR U ON DM.IDUTILISATEUR = U.ID
	WHERE DM.IDMESSAGE = @idMessage;
END


GO
/****** Object:  StoredProcedure [dbo].[GetEven]    Script Date: 2013-11-04 06:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Marie-Christine Noreau
-- Create date: 2013-09-16
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[GetEven] (@id int)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	SELECT EVENEMENT.NOM, DATEEVEN, HEUREDEBUT, HEUREFIN, CATEGORIEEVENEMENT.NOM AS NOMCATE
	FROM EVENEMENT, CATEGORIEEVENEMENT
	WHERE IDCATEGORIE = CATEGORIEEVENEMENT.ID AND EVENEMENT.ID = @id
END





GO
/****** Object:  StoredProcedure [dbo].[GetEvents]    Script Date: 2013-11-04 06:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Marie-Christine Noreau
-- Create date: 2013-09-16
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[GetEvents] 
	@secteur int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT * FROM EVENEMENT, EVENEMENTSECTEUR, CATEGORIEEVENEMENT WHERE EVENEMENT.ID = IDEVENEMENT 
	AND CATEGORIEEVENEMENT.ID = IDCATEGORIE AND IDSECTEUR = @secteur
END





GO
/****** Object:  StoredProcedure [dbo].[GetFilDiscussion]    Script Date: 2013-11-04 06:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Marie-Christine Noreau
-- Create date: 2013-09-16
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[GetFilDiscussion] 
	@idforum int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	SELECT * FROM FILDISCUSSION WHERE IDFORUM = @idforum

END




GO
/****** Object:  StoredProcedure [dbo].[GetForum]    Script Date: 2013-11-04 06:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Marie-Christine Noreau
-- Create date: 2013-09-16
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[GetForum]
	 @secteur int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	SELECT * FROM FORUM WHERE IDSECTEUR = @secteur

END




GO
/****** Object:  StoredProcedure [dbo].[GetMessage]    Script Date: 2013-11-04 06:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetMessage]
	@idMessage int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	SELECT MP.SUJET, MP.CONTENU, MP.DATEENVOI, PJ.ID AS IDPIECE, PJ.NOMPIECE, PJ.TAILLEPIECE,
	U.PRENOM + ' ' + U.NOM AS NOMEXPED
	FROM MESSAGEPRIVE MP
	LEFT JOIN PIECEJOINTE PJ ON MP.ID = PJ.IDMESSAGE
	INNER JOIN UTILISATEUR U ON MP.IDEXPEDITEUR = U.ID
	WHERE MP.ID = @idMessage
END


GO
/****** Object:  StoredProcedure [dbo].[GetMessagesEnvoyes]    Script Date: 2013-11-04 06:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetMessagesEnvoyes]
	@idUtil int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	SELECT MP.ID AS IDMESSAGE, MP.CONTENU, MP.DATEENVOI, MP.SUJET, PJ.ID AS IDPIECE
	FROM MESSAGEPRIVE MP
	LEFT JOIN PIECEJOINTE PJ ON MP.ID = PJ.IDMESSAGE
	WHERE MP.SUPPRIME = 0 AND MP.SUPPRIMEDEFINITIF = 0 AND MP.IDEXPEDITEUR = @idUtil
	ORDER BY MP.DATEENVOI DESC, MP.ID;
END


GO
/****** Object:  StoredProcedure [dbo].[GetMessagesForum]    Script Date: 2013-11-04 06:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Marie-Christine Noreau
-- Create date: 2013-09-16
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[GetMessagesForum]
	 @idfil int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	SELECT * FROM MESSAGEFORUM WHERE IDFILDISCUSSION = @idfil

END




GO
/****** Object:  StoredProcedure [dbo].[GetMessagesPrives]    Script Date: 2013-11-04 06:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetMessagesPrives]
	@idUtil int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	SELECT MP.ID AS IDMESSAGE, MP.CONTENU, MP.DATEENVOI, MP.SUJET,
	DM.LU, PJ.ID AS IDPIECEJOINTE, U.PRENOM + ' ' + U.NOM AS NOMEXPED
	FROM MESSAGEPRIVE MP
	INNER JOIN DESTINATAIREMESSAGE DM ON MP.ID = DM.IDMESSAGE
	LEFT JOIN PIECEJOINTE PJ ON MP.ID = PJ.IDMESSAGE
	INNER JOIN UTILISATEUR U ON MP.IDEXPEDITEUR = U.ID
	WHERE DM.SUPPRIME = 0 AND DM.SUPPRIMEDEFINITIF = 0 AND DM.IDUTILISATEUR = @idUtil
	ORDER BY MP.DATEENVOI DESC, MP.ID;
END


GO
/****** Object:  StoredProcedure [dbo].[GetMessagesSupprimes]    Script Date: 2013-11-04 06:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetMessagesSupprimes]
	@idUtil int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	SELECT MP.ID AS IDMESSAGE, MP.CONTENU, MP.DATEENVOI, MP.SUJET,
	DM.LU, PJ.ID AS IDPIECE, U.PRENOM + ' ' + U.NOM AS NOMEXPED
	FROM MESSAGEPRIVE MP
	LEFT JOIN DESTINATAIREMESSAGE DM ON MP.ID = DM.IDMESSAGE
	LEFT JOIN PIECEJOINTE PJ ON MP.ID = PJ.IDMESSAGE
	INNER JOIN UTILISATEUR U ON MP.IDEXPEDITEUR = U.ID
	WHERE (DM.SUPPRIME = 1 AND DM.SUPPRIMEDEFINITIF = 0 AND DM.IDUTILISATEUR = @idUtil)
	OR (MP.SUPPRIME = 1 AND MP.SUPPRIMEDEFINITIF = 0 AND MP.IDEXPEDITEUR = @idUtil)
	ORDER BY MP.DATEENVOI DESC, MP.ID;
END


GO
/****** Object:  StoredProcedure [dbo].[GetNouvelle]    Script Date: 2013-11-04 06:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetNouvelle]
	@idNouvelle int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	SELECT * FROM NOUVELLE WHERE ID = @idNouvelle
END


GO
/****** Object:  StoredProcedure [dbo].[GetNouvelles]    Script Date: 2013-11-04 06:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Marie-Christine Noreau
-- Create date: 2013-09-16
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[GetNouvelles]
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	SELECT * FROM NOUVELLE ORDER BY DATEPUBLICATION DESC;
END


GO
/****** Object:  StoredProcedure [dbo].[GetPartenaire]    Script Date: 2013-11-04 06:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetPartenaire]
	@idpar int
AS
BEGIN
	SET NOCOUNT OFF;

    -- Insert statements for procedure here
	SELECT * FROM PARTENAIRE WHERE ID = @idpar
END



GO
/****** Object:  StoredProcedure [dbo].[GetPartenaires]    Script Date: 2013-11-04 06:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetPartenaires]
AS
BEGIN
	SET NOCOUNT OFF;

    -- Insert statements for procedure here
	SELECT * FROM PARTENAIRE
END


GO
/****** Object:  StoredProcedure [dbo].[GetPubParMotCle]    Script Date: 2013-11-04 06:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetPubParMotCle]
	 @idsecteur int,
	 @motcle varchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	SELECT p.*
	FROM PUBLICATION p INNER JOIN MOTCLEPUBLICATION mp ON (mp.IDPUBLICATION = p.ID)
					   INNER JOIN MOTCLE m ON (mp.IDMOTCLE = m.ID)
	WHERE p.IDSECTEUR = @idsecteur AND m.VALEUR LIKE @motcle
END



GO
/****** Object:  StoredProcedure [dbo].[GetPubParSecteur]    Script Date: 2013-11-04 06:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Marie-Christine Noreau
-- Create date: 2013-09-16
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[GetPubParSecteur]
	 @idsecteur int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	SELECT * FROM PUBLICATION WHERE IDSECTEUR = @idsecteur

END




GO
/****** Object:  StoredProcedure [dbo].[GetPubParSujet]    Script Date: 2013-11-04 06:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Marie-Christine Noreau
-- Create date: 2013-09-16
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[GetPubParSujet]
	 @idsecteur int,
	 @idsujet int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	SELECT * FROM PUBLICATION WHERE IDSECTEUR = @idsecteur AND IDSUJET = @idsujet

END




GO
/****** Object:  StoredProcedure [dbo].[GetRechercheNouvelle]    Script Date: 2013-11-04 06:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetRechercheNouvelle]
	@rech varchar(100)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	SELECT * FROM NOUVELLE WHERE TITRE LIKE '%' + @rech + '%' OR DESCRIPTION LIKE '%' + @rech + '%' COLLATE SQL_Latin1_General_CP1_CI_AS;
END


GO
/****** Object:  StoredProcedure [dbo].[GetResultatsSondage]    Script Date: 2013-11-04 06:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Marie-Christine Noreau
-- Create date: 2013-09-20
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[GetResultatsSondage]
	@idsondage int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT NOMUTIL, VALEUR
	FROM CHOIXSONDAGE CS, VOTESONDAGE VS, UTILISATEUR U
	WHERE VS.IDUTILISATEUR = U.ID AND VS.IDCHOIX = CS.ID AND CS.IDSONDAGE = @idsondage

END




GO
/****** Object:  StoredProcedure [dbo].[GetSecteurs]    Script Date: 2013-11-04 06:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Marie-Christine Noreau
-- Create date: 2013-09-20
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[GetSecteurs]	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT * FROM SECTEUR

END




GO
/****** Object:  StoredProcedure [dbo].[GetSondage]    Script Date: 2013-11-04 06:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Marie-Christine Noreau
-- Create date: 2013-09-20
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[GetSondage]
	@id int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT S.NOM, QUESTION, DATEDEBUT, DATEFIN, NOMUTIL
	FROM SONDAGE S, CHOIXSONDAGE CS, UTILISATEUR U
	WHERE S.ID = CS.IDSONDAGE AND S.IDCREATEUR = U.ID AND S.ID = @id

END




GO
/****** Object:  StoredProcedure [dbo].[GetSondages]    Script Date: 2013-11-04 06:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Marie-Christine Noreau
-- Create date: 2013-09-20
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[GetSondages]
	@idsecteur int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT SONDAGE.ID, SONDAGE.NOM, QUESTION, DATEDEBUT, DATEFIN, NOMUTIL
	FROM SONDAGE, UTILISATEUR
	WHERE IDCREATEUR = UTILISATEUR.ID AND IDSECTEUR = @idsecteur

END




GO
/****** Object:  StoredProcedure [dbo].[GetSujetsPublication]    Script Date: 2013-11-04 06:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetSujetsPublication]
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	SELECT * FROM SUJETPUBLICATION;
END

-- =============================================
-- Authors:		Marie-Christine Noreau
--				Philippe Carpentier-Savard
-- Create date: 2013-09-16
-- Modificaton date: 2013-10-25
-- =============================================


GO
/****** Object:  StoredProcedure [dbo].[getUtil]    Script Date: 2013-11-04 06:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[getUtil] 
	@username varchar(25)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT * FROM UTILISATEUR WHERE NOMUTIL = @username
END



GO
/****** Object:  StoredProcedure [dbo].[GetUtilParSecteur]    Script Date: 2013-11-04 06:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Marie-Christine Noreau
-- Create date: 2013-09-20
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[GetUtilParSecteur]
	@idsecteur int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT NOMUTIL, NOM, PRENOM 
	FROM UTILISATEUR, UTILISATEURSECTEUR 
	WHERE IDSECTEUR = ID

END




GO
/****** Object:  StoredProcedure [dbo].[GetUtilProfil]    Script Date: 2013-11-04 06:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Marie-Christine Noreau
-- Create date: 2013-09-16
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[GetUtilProfil] (@id int) 
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	SELECT COURRIEL, NOM, PRENOM, ADRESSE, VILLE, DATENAISSANCE, LANGUE
	FROM UTILISATEUR WHERE ID = @id
END





GO
/****** Object:  StoredProcedure [dbo].[GetUtils]    Script Date: 2013-11-04 06:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Marie-Christine Noreau
-- Create date: 2013-09-16
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[GetUtils] 
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT * FROM UTILISATEUR
END





GO
/****** Object:  StoredProcedure [dbo].[LireMessage]    Script Date: 2013-11-04 06:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[LireMessage]
	@idMessage int,
	@idUtil int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	UPDATE DESTINATAIREMESSAGE SET LU = 1
	WHERE IDMESSAGE = @idMessage AND IDUTILISATEUR = @idUtil;
END


GO
/****** Object:  StoredProcedure [dbo].[MessagePriveCorbeille]    Script Date: 2013-11-04 06:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Marie-Christine Noreau
-- Create date: 2013-09-20
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[MessagePriveCorbeille]
	@idmess int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	UPDATE DESTINATAIREMESSAGE
	SET SUPPRIME = 1
	WHERE IDMESSAGE = @idmess

END




GO
/****** Object:  StoredProcedure [dbo].[MessagePriveSuppDef]    Script Date: 2013-11-04 06:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Marie-Christine Noreau
-- Create date: 2013-09-20
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[MessagePriveSuppDef]
	@idmess int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	UPDATE DESTINATAIREMESSAGE
	SET SUPPRIMEDEFINITIF = 1
	WHERE IDMESSAGE = @idmess

END




GO
/****** Object:  StoredProcedure [dbo].[ModiferEven]    Script Date: 2013-11-04 06:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Marie-Christine Noreau
-- Create date: 2013-09-16
-- Description: <Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[ModiferEven](@ideven int, @nomeven varchar(50), @dateeven date, @debut time = null, @fin time = null, 
							@categorie int)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	UPDATE EVENEMENT
	SET NOM = @nomeven, DATEEVEN = @dateeven, HEUREDEBUT = @debut, HEUREFIN = @fin, 
	IDCATEGORIE = @categorie
	WHERE ID = @ideven
END





GO
/****** Object:  StoredProcedure [dbo].[ModifierChoixSondage]    Script Date: 2013-11-04 06:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Marie-Christine Noreau
-- Create date: 2013-09-16
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[ModifierChoixSondage]
	@id int, 
	@valeur varchar(60)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	UPDATE CHOIXSONDAGE
	SET VALEUR = @valeur
	WHERE ID = @id
END





GO
/****** Object:  StoredProcedure [dbo].[ModifierContenu]    Script Date: 2013-11-04 06:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ModifierContenu]
	@nomPage varchar(50),
	@titre varchar(60),
	@titre_trad varchar(60), 
	@cont text,
	@cont_trad text,
	@urlImage varchar(100)
AS
	UPDATE CONTENU
	SET TITRE = @titre, TITRE_TRAD = @titre_trad, CONTENU = @cont, CONTENU_TRAD = @cont_trad, URLIMAGE = @urlImage
	WHERE PAGE = @nomPage
RETURN 0


GO
/****** Object:  StoredProcedure [dbo].[ModifierEcole]    Script Date: 2013-11-04 06:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Marie-Christine Noreau
-- Create date: 2013-09-16
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[ModifierEcole]
	@id int,
	@nom varchar(60), 
	@adresse varchar(50), 
	@ville varchar(40)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	UPDATE ECOLE
	SET NOM = @nom, ADRESSE = @adresse, VILLE = @ville
	WHERE ID = @id
END





GO
/****** Object:  StoredProcedure [dbo].[ModifierMessageForum]    Script Date: 2013-11-04 06:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Marie-Christine Noreau
-- Create date: 2013-09-16
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[ModifierMessageForum]
	@id int,
	@contenu text
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	UPDATE MESSAGEFORUM
	SET CONTENU = @contenu
	WHERE ID = @id
END





GO
/****** Object:  StoredProcedure [dbo].[ModifierNouvelle]    Script Date: 2013-11-04 06:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Marie-Christine Noreau
-- Create date: 2013-09-16
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[ModifierNouvelle]
	@id int,
	@titre varchar(60), 
	@description text
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	UPDATE NOUVELLE
	SET TITRE = @titre, DESCRIPTION = @description
	WHERE ID = @id
END





GO
/****** Object:  StoredProcedure [dbo].[ModifierPartenaire]    Script Date: 2013-11-04 06:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Marie-Christine Noreau
-- Create date: 2013-09-16
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[ModifierPartenaire]
	@id int,
	@nom varchar(60),
	@raisonsociale text,
	@adr varchar(65),
	@ville varchar(65),
	@pays varchar(60),
	@tel varchar(20),
	@siteweb varchar(150),
	@courriel varchar(150)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	UPDATE PARTENAIRE
	SET NOM = @nom, RAISONSOCIALE = @raisonsociale, ADRESSE = @adr, VILLE = @ville, PAYS = @pays, TELEPHONE = @tel, SITEWEB = @siteweb, COURRIEL = @courriel
	WHERE ID = @id
END





GO
/****** Object:  StoredProcedure [dbo].[ModifierPublication]    Script Date: 2013-11-04 06:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Marie-Christine Noreau
-- Create date: 2013-09-16
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[ModifierPublication]
	@id int, 
	@titre varchar(60),
	@sujet int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	UPDATE PUBLICATION 
	SET TITRE = @titre, IDSUJET = @sujet
	WHERE ID = @id
END





GO
/****** Object:  StoredProcedure [dbo].[ModifierSondage]    Script Date: 2013-11-04 06:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Marie-Christine Noreau
-- Create date: 2013-09-16
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[ModifierSondage]
	@id int,
	@nom varchar(60),
	@question varchar(255),
	@debut datetime, 
	@fin datetime, 
	@secteur int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	UPDATE SONDAGE
	SET NOM = @nom, QUESTION = @question, DATEDEBUT = @debut, DATEFIN = @fin, IDSECTEUR = @secteur
	WHERE ID = @id
END





GO
/****** Object:  StoredProcedure [dbo].[ModifierSujetFilDiscussion]    Script Date: 2013-11-04 06:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Marie-Christine Noreau
-- Create date: 2013-09-16
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[ModifierSujetFilDiscussion]
	@id int,
	@sujet varchar(100)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	UPDATE FILDISCUSSION
	SET SUJET = @sujet, DATEMODIFICATION = GETDATE()
	WHERE ID = @id
END





GO
/****** Object:  StoredProcedure [dbo].[ModifierUtilEcole]    Script Date: 2013-11-04 06:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Marie-Christine Noreau
-- Create date: 2013-09-16
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[ModifierUtilEcole] (@id int, @ecole int) 
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	UPDATE UTILISATEUR SET IDECOLE = @ecole WHERE ID = @id
END





GO
/****** Object:  StoredProcedure [dbo].[ModifierUtilProfil]    Script Date: 2013-11-04 06:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Marie-Christine Noreau
-- Create date: 2013-09-16
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[ModifierUtilProfil] (@id int, @courriel varchar(100), @nom varchar(60), @prenom varchar(60),
										@adresse varchar(50), @ville varchar(50), @langue char(2)) 
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	UPDATE UTILISATEUR 
	SET COURRIEL = @courriel, NOM = @nom, PRENOM = @prenom, ADRESSE = @adresse, VILLE = @ville, LANGUE = @langue
	WHERE ID = @id;
END





GO
/****** Object:  StoredProcedure [dbo].[ReinitMotPasse]    Script Date: 2013-11-04 06:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Marie-Christine Noreau
-- Create date: 2013-09-16
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[ReinitMotPasse] (@id int) 
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	UPDATE UTILISATEUR 
	SET REINITIALISERMOTPASSE = 1
	WHERE ID = @id;
END





GO
/****** Object:  StoredProcedure [dbo].[SupprimerChoixSondage]    Script Date: 2013-11-04 06:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Marie-Christine Noreau
-- Create date: 2013-09-16
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SupprimerChoixSondage]
	@id int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	DELETE FROM CHOIXSONDAGE WHERE ID = @id
END





GO
/****** Object:  StoredProcedure [dbo].[SupprimerEcole]    Script Date: 2013-11-04 06:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Marie-Christine Noreau
-- Create date: 2013-09-16
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SupprimerEcole]
	@id int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	DELETE FROM ECOLE WHERE ID = @id
END





GO
/****** Object:  StoredProcedure [dbo].[SupprimerEven]    Script Date: 2013-11-04 06:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Marie-Christine Noreau
-- Create date: 2013-09-16
-- Description: <Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SupprimerEven] (@id int) 
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	DELETE FROM EVENEMENT WHERE ID = @id
END





GO
/****** Object:  StoredProcedure [dbo].[SupprimerFilDiscussion]    Script Date: 2013-11-04 06:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Marie-Christine Noreau
-- Create date: 2013-09-20
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SupprimerFilDiscussion]
	@idfil int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	DELETE FROM FILDISCUSSION WHERE ID = @idfil

END




GO
/****** Object:  StoredProcedure [dbo].[SupprimerMessageForum]    Script Date: 2013-11-04 06:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Marie-Christine Noreau
-- Create date: 2013-09-20
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SupprimerMessageForum]
	@idmess int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	DELETE FROM MESSAGEFORUM WHERE ID = @idmess

END




GO
/****** Object:  StoredProcedure [dbo].[SupprimerMotClePub]    Script Date: 2013-11-04 06:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Marie-Christine Noreau
-- Create date: 2013-09-16
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SupprimerMotClePub]
	@idpub int, 
	@idmotcle int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	DELETE FROM MOTCLEPUBLICATION WHERE IDPUBLICATION = @idpub AND IDMOTCLE = @idmotcle
END





GO
/****** Object:  StoredProcedure [dbo].[SupprimerNouvelle]    Script Date: 2013-11-04 06:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Marie-Christine Noreau
-- Create date: 2013-09-16
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SupprimerNouvelle]
	@id int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	DELETE FROM NOUVELLE WHERE ID = @id
END





GO
/****** Object:  StoredProcedure [dbo].[SupprimerPartenaire]    Script Date: 2013-11-04 06:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Marie-Christine Noreau
-- Create date: 2013-09-16
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SupprimerPartenaire]
	@id int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	DELETE FROM PARTENAIRE WHERE ID = @id
END





GO
/****** Object:  StoredProcedure [dbo].[SupprimerPublication]    Script Date: 2013-11-04 06:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Marie-Christine Noreau
-- Create date: 2013-09-16
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SupprimerPublication]
	@id int 
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	DELETE FROM PUBLICATION WHERE ID = @id
	-- Supprimer les associations avec les mots clés
	-- Vérifier si le mot clé est associé à une autre publication. Si non, supprimer le mot clé aussi
END





GO
/****** Object:  StoredProcedure [dbo].[SupprimerSectEcole]    Script Date: 2013-11-04 06:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Marie-Christine Noreau
-- Create date: 2013-09-16
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SupprimerSectEcole]
	@idecole int, 
	@idsecteur int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	DELETE FROM ECOLESECTEUR WHERE IDECOLE = @idecole AND IDSECTEUR = @idsecteur
END





GO
/****** Object:  StoredProcedure [dbo].[SupprimerSecteur]    Script Date: 2013-11-04 06:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Marie-Christine Noreau
-- Create date: 2013-09-16
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SupprimerSecteur]
	@id int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	DELETE FROM SECTEUR WHERE ID = @id
END





GO
/****** Object:  StoredProcedure [dbo].[SupprimerSectEven]    Script Date: 2013-11-04 06:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Marie-Christine Noreau
-- Create date: 2013-09-16
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SupprimerSectEven] (@secteur int)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	DELETE FROM EVENEMENTSECTEUR WHERE IDSECTEUR = @secteur
END





GO
/****** Object:  StoredProcedure [dbo].[SupprimerSondage]    Script Date: 2013-11-04 06:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Marie-Christine Noreau
-- Create date: 2013-09-16
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SupprimerSondage]
	@id int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	DELETE FROM SONDAGE WHERE ID = @id
END





GO
/****** Object:  StoredProcedure [dbo].[SupprimerUtilisateur]    Script Date: 2013-11-04 06:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Marie-Christine Noreau
-- Create date: 2013-09-16
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SupprimerUtilisateur] (@nomutil varchar(25), @permanent bit) 
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	IF @permanent = 0 
		UPDATE UTILISATEUR SET COMPTEACTIF = 0 WHERE NOMUTIL = @nomutil;
	ELSE
		DELETE FROM UTILISATEUR WHERE NOMUTIL = @nomutil;
	
END





GO
/****** Object:  StoredProcedure [dbo].[SupprimerUtilSect]    Script Date: 2013-11-04 06:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Marie-Christine Noreau
-- Create date: 2013-09-16
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SupprimerUtilSect] (@id int, @secteur int) 
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	DELETE FROM UTILISATEURSECTEUR WHERE IDUTILISATEUR = @id AND IDSECTEUR = @secteur
END





GO
/****** Object:  Table [dbo].[CATEGORIEEVENEMENT]    Script Date: 2013-11-04 06:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CATEGORIEEVENEMENT](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NOM] [varchar](40) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CHOIXSONDAGE]    Script Date: 2013-11-04 06:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CHOIXSONDAGE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDSONDAGE] [int] NOT NULL,
	[VALEUR] [varchar](60) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CONTENU]    Script Date: 2013-11-04 06:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CONTENU](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PAGE] [varchar](50) NOT NULL,
	[TITRE] [varchar](60) NOT NULL,
	[TITRE_TRAD] [varchar](60) NOT NULL,
	[CONTENU] [text] NOT NULL,
	[CONTENU_TRAD] [text] NOT NULL,
	[URLIMAGE] [varchar](100) NULL,
 CONSTRAINT [PK_CONTENT] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DESTINATAIREMESSAGE]    Script Date: 2013-11-04 06:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DESTINATAIREMESSAGE](
	[IDMESSAGE] [int] NOT NULL,
	[IDUTILISATEUR] [int] NOT NULL,
	[SUPPRIME] [bit] NOT NULL,
	[SUPPRIMEDEFINITIF] [bit] NOT NULL,
	[LU] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDMESSAGE] ASC,
	[IDUTILISATEUR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ECOLE]    Script Date: 2013-11-04 06:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ECOLE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NOM] [varchar](60) NOT NULL,
	[PROVINCE] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ECOLESECTEUR]    Script Date: 2013-11-04 06:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ECOLESECTEUR](
	[IDECOLE] [int] NOT NULL,
	[IDSECTEUR] [int] NOT NULL,
 CONSTRAINT [PK_ECOLESECTEUR] PRIMARY KEY CLUSTERED 
(
	[IDECOLE] ASC,
	[IDSECTEUR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[EVENEMENT]    Script Date: 2013-11-04 06:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[EVENEMENT](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NOM] [varchar](50) NOT NULL,
	[DATEEVEN] [date] NOT NULL,
	[HEUREDEBUT] [time](7) NULL,
	[HEUREFIN] [time](7) NULL,
	[IDCATEGORIE] [int] NOT NULL,
	[IDCREATEUR] [int] NOT NULL,
 CONSTRAINT [PK__EVENEMEN__3214EC27737AF2B3] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[EVENEMENTSECTEUR]    Script Date: 2013-11-04 06:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EVENEMENTSECTEUR](
	[IDEVENEMENT] [int] NOT NULL,
	[IDSECTEUR] [int] NOT NULL,
 CONSTRAINT [PK_EVENEMENTSECTEUR] PRIMARY KEY CLUSTERED 
(
	[IDEVENEMENT] ASC,
	[IDSECTEUR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[FILDISCUSSION]    Script Date: 2013-11-04 06:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[FILDISCUSSION](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SUJET] [varchar](100) NOT NULL,
	[DATEPUBLICATION] [datetime] NOT NULL,
	[DATEMODIFICATION] [datetime] NULL,
	[NBLECTURES] [int] NOT NULL,
	[IDFORUM] [int] NULL,
 CONSTRAINT [PK__FILDISCU__3214EC27A2BD0383] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[FORUM]    Script Date: 2013-11-04 06:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[FORUM](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TITRE] [varchar](50) NOT NULL,
	[IDSECTEUR] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MESSAGEFORUM]    Script Date: 2013-11-04 06:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MESSAGEFORUM](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DATEPUBLICATION] [datetime] NOT NULL,
	[DATEMODIFICATION] [datetime] NULL,
	[CONTENU] [text] NOT NULL,
	[IDUTILISATEUR] [int] NOT NULL,
	[IDFILDISCUSSION] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MESSAGEPRIVE]    Script Date: 2013-11-04 06:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MESSAGEPRIVE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDEXPEDITEUR] [int] NOT NULL,
	[SUJET] [varchar](50) NOT NULL,
	[CONTENU] [text] NOT NULL,
	[DATEENVOI] [datetime] NOT NULL,
	[SUPPRIME] [bit] NOT NULL,
	[SUPPRIMEDEFINITIF] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MOTCLE]    Script Date: 2013-11-04 06:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MOTCLE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[VALEUR] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MOTCLEPUBLICATION]    Script Date: 2013-11-04 06:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MOTCLEPUBLICATION](
	[IDPUBLICATION] [int] NOT NULL,
	[IDMOTCLE] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDPUBLICATION] ASC,
	[IDMOTCLE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NOUVELLE]    Script Date: 2013-11-04 06:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NOUVELLE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TITRE] [varchar](100) NOT NULL,
	[DESCRIPTION] [text] NOT NULL,
	[DATEPUBLICATION] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PARTENAIRE]    Script Date: 2013-11-04 06:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PARTENAIRE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NOM] [varchar](60) NOT NULL,
	[RAISONSOCIALE] [text] NOT NULL,
	[ADRESSE] [varchar](65) NULL,
	[VILLE] [varchar](65) NULL,
	[PAYS] [varchar](60) NULL,
	[TELEPHONE] [varchar](20) NULL,
	[SITEWEB] [varchar](150) NULL,
	[COURRIEL] [varchar](150) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PIECEJOINTE]    Script Date: 2013-11-04 06:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PIECEJOINTE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDMESSAGE] [int] NOT NULL,
	[PIECESERIALISEE] [varbinary](max) NOT NULL,
	[TAILLEPIECE] [varchar](40) NOT NULL,
	[NOMPIECE] [varchar](150) NOT NULL,
 CONSTRAINT [PK__PIECEJOI__3214EC2774BBDE7D] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PUBLICATION]    Script Date: 2013-11-04 06:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PUBLICATION](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TITRE] [varchar](60) NOT NULL,
	[DATECREATION] [datetime] NOT NULL,
	[DESCRIPTION] [varchar](100) NOT NULL,
	[IDPUBLICATEUR] [int] NOT NULL,
	[IDSUJET] [int] NOT NULL,
	[IDSECTEUR] [int] NOT NULL,
	[MIMETYPE] [varchar](100) NULL,
	[NOMFICHIERORIGINAL] [varchar](100) NULL,
	[NOMFICHIERSERVEUR] [varchar](32) NULL,
 CONSTRAINT [PK__PUBLICAT__3214EC279D945C0C] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SECTEUR]    Script Date: 2013-11-04 06:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SECTEUR](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NOM] [varchar](40) NOT NULL,
	[TITREACCUEIL] [varchar](40) NOT NULL,
	[TEXTEACCUEIL] [text] NOT NULL,
	[URLIMAGEACCUEIL] [varchar](100) NOT NULL,
 CONSTRAINT [PK__SECTEUR__3214EC275D936103] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SONDAGE]    Script Date: 2013-11-04 06:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SONDAGE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NOM] [varchar](60) NOT NULL,
	[QUESTION] [varchar](255) NOT NULL,
	[DATEDEBUT] [datetime] NOT NULL,
	[DATEFIN] [datetime] NOT NULL,
	[IDCREATEUR] [int] NOT NULL,
	[IDSECTEUR] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SUJETPUBLICATION]    Script Date: 2013-11-04 06:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SUJETPUBLICATION](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NOM] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[UTILISATEUR]    Script Date: 2013-11-04 06:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[UTILISATEUR](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NOMUTIL] [varchar](25) NOT NULL,
	[COURRIEL] [varchar](100) NOT NULL,
	[PRENOM] [varchar](60) NOT NULL,
	[NOM] [varchar](60) NOT NULL,
	[ADRESSE] [varchar](50) NOT NULL,
	[VILLE] [varchar](50) NOT NULL,
	[DATENAISSANCE] [date] NOT NULL,
	[DERNIERECONNEXION] [datetime] NULL,
	[LANGUE] [char](2) NOT NULL,
	[IDECOLE] [int] NOT NULL,
 CONSTRAINT [PK__UTILISAT__3214EC278FE56C5C] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[UTILISATEURSECTEUR]    Script Date: 2013-11-04 06:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UTILISATEURSECTEUR](
	[IDUTILISATEUR] [int] NOT NULL,
	[IDSECTEUR] [int] NOT NULL,
	[DEBUTACCES] [date] NOT NULL,
	[FINACCES] [date] NOT NULL,
 CONSTRAINT [PK__UTILISAT__9490A9EA4B515193] PRIMARY KEY CLUSTERED 
(
	[IDUTILISATEUR] ASC,
	[IDSECTEUR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[VOTESONDAGE]    Script Date: 2013-11-04 06:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VOTESONDAGE](
	[IDUTILISATEUR] [int] NOT NULL,
	[IDCHOIX] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDUTILISATEUR] ASC,
	[IDCHOIX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[webpages_Membership]    Script Date: 2013-11-04 06:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[webpages_Membership](
	[UserId] [int] NOT NULL,
	[CreateDate] [datetime] NULL,
	[ConfirmationToken] [nvarchar](128) NULL,
	[IsConfirmed] [bit] NULL,
	[LastPasswordFailureDate] [datetime] NULL,
	[PasswordFailuresSinceLastSuccess] [int] NOT NULL,
	[Password] [nvarchar](128) NOT NULL,
	[PasswordChangedDate] [datetime] NULL,
	[PasswordSalt] [nvarchar](128) NOT NULL,
	[PasswordVerificationToken] [nvarchar](128) NULL,
	[PasswordVerificationTokenExpirationDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[webpages_OAuthMembership]    Script Date: 2013-11-04 06:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[webpages_OAuthMembership](
	[Provider] [nvarchar](30) NOT NULL,
	[ProviderUserId] [nvarchar](100) NOT NULL,
	[UserId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Provider] ASC,
	[ProviderUserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[webpages_Roles]    Script Date: 2013-11-04 06:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[webpages_Roles](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](256) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[webpages_UsersInRoles]    Script Date: 2013-11-04 06:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[webpages_UsersInRoles](
	[UserId] [int] NOT NULL,
	[RoleId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[CATEGORIEEVENEMENT] ON 

INSERT [dbo].[CATEGORIEEVENEMENT] ([ID], [NOM]) VALUES (1, N'Technical')
INSERT [dbo].[CATEGORIEEVENEMENT] ([ID], [NOM]) VALUES (2, N'Accounting')
INSERT [dbo].[CATEGORIEEVENEMENT] ([ID], [NOM]) VALUES (3, N'Web')
SET IDENTITY_INSERT [dbo].[CATEGORIEEVENEMENT] OFF
SET IDENTITY_INSERT [dbo].[CHOIXSONDAGE] ON 

INSERT [dbo].[CHOIXSONDAGE] ([ID], [IDSONDAGE], [VALEUR]) VALUES (1, 8, N'Oui')
INSERT [dbo].[CHOIXSONDAGE] ([ID], [IDSONDAGE], [VALEUR]) VALUES (2, 9, N'Non')
SET IDENTITY_INSERT [dbo].[CHOIXSONDAGE] OFF
SET IDENTITY_INSERT [dbo].[CONTENU] ON 

INSERT [dbo].[CONTENU] ([ID], [PAGE], [TITRE], [TITRE_TRAD], [CONTENU], [CONTENU_TRAD], [URLIMAGE]) VALUES (5, N'Accueil', N'Bienvenue', N'Welcome', N'je m''appelle buzz.', N'Nulla vitae elit libero, a pharetra augue. Nullam id dolor id nibh ultricies vehicula ut id elit. Maecenas sed diam eget risus varius blandit sit amet non magna. 
    Nullam quis risus eget urna mollis ornare vel eu leo. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.', NULL)
INSERT [dbo].[CONTENU] ([ID], [PAGE], [TITRE], [TITRE_TRAD], [CONTENU], [CONTENU_TRAD], [URLIMAGE]) VALUES (7, N'Contact', N'Nous joindre', N'Contact us', N'5151 rue des Ormes, Maputo, HHH 111, 1 555 555 55555', N'5151 rue des Ormes, Maputo, HHH 111, 1 555 555 55555', NULL)
SET IDENTITY_INSERT [dbo].[CONTENU] OFF
INSERT [dbo].[DESTINATAIREMESSAGE] ([IDMESSAGE], [IDUTILISATEUR], [SUPPRIME], [SUPPRIMEDEFINITIF], [LU]) VALUES (1, 10, 0, 0, 0)
INSERT [dbo].[DESTINATAIREMESSAGE] ([IDMESSAGE], [IDUTILISATEUR], [SUPPRIME], [SUPPRIMEDEFINITIF], [LU]) VALUES (2, 5, 1, 0, 0)
INSERT [dbo].[DESTINATAIREMESSAGE] ([IDMESSAGE], [IDUTILISATEUR], [SUPPRIME], [SUPPRIMEDEFINITIF], [LU]) VALUES (3, 8, 0, 0, 0)
SET IDENTITY_INSERT [dbo].[ECOLE] ON 

INSERT [dbo].[ECOLE] ([ID], [NOM], [PROVINCE]) VALUES (1, N'Instituto Agrário de Lichinga', N'Niassa')
INSERT [dbo].[ECOLE] ([ID], [NOM], [PROVINCE]) VALUES (2, N'Instituto Industrial e Comercial de NGungunhana', N'Niassa')
INSERT [dbo].[ECOLE] ([ID], [NOM], [PROVINCE]) VALUES (3, N'Instituto de Ecoturismo Armando Gabueza de Marupa', N'Niassa')
SET IDENTITY_INSERT [dbo].[ECOLE] OFF
INSERT [dbo].[ECOLESECTEUR] ([IDECOLE], [IDSECTEUR]) VALUES (1, 1)
INSERT [dbo].[ECOLESECTEUR] ([IDECOLE], [IDSECTEUR]) VALUES (2, 2)
INSERT [dbo].[ECOLESECTEUR] ([IDECOLE], [IDSECTEUR]) VALUES (3, 3)
SET IDENTITY_INSERT [dbo].[EVENEMENT] ON 

INSERT [dbo].[EVENEMENT] ([ID], [NOM], [DATEEVEN], [HEUREDEBUT], [HEUREFIN], [IDCATEGORIE], [IDCREATEUR]) VALUES (1, N'Zeejubin', CAST(0x81340B00 AS Date), CAST(0x07D6C3DBD6030000 AS Time), CAST(0x07990420F89C0000 AS Time), 8, 1)
INSERT [dbo].[EVENEMENT] ([ID], [NOM], [DATEEVEN], [HEUREDEBUT], [HEUREFIN], [IDCATEGORIE], [IDCREATEUR]) VALUES (2, N'Varpickilower', CAST(0xFD340B00 AS Date), CAST(0x0789F031C25C0000 AS Time), CAST(0x0767960A467A0000 AS Time), 9, 1)
INSERT [dbo].[EVENEMENT] ([ID], [NOM], [DATEEVEN], [HEUREDEBUT], [HEUREFIN], [IDCATEGORIE], [IDCREATEUR]) VALUES (3, N'Unwerplar', CAST(0x7D340B00 AS Date), CAST(0x079BA07136150000 AS Time), CAST(0x07EA88291AC00000 AS Time), 8, 1)
SET IDENTITY_INSERT [dbo].[EVENEMENT] OFF
SET IDENTITY_INSERT [dbo].[FILDISCUSSION] ON 

INSERT [dbo].[FILDISCUSSION] ([ID], [SUJET], [DATEPUBLICATION], [DATEMODIFICATION], [NBLECTURES], [IDFORUM]) VALUES (8, N'Refropin', CAST(0x0000A117000ACD46 AS DateTime), CAST(0x0000A11A007F6827 AS DateTime), 48, 1)
INSERT [dbo].[FILDISCUSSION] ([ID], [SUJET], [DATEPUBLICATION], [DATEMODIFICATION], [NBLECTURES], [IDFORUM]) VALUES (12, N'Thrufropover', CAST(0x00009D5700020691 AS DateTime), CAST(0x00009D5D00301ABB AS DateTime), 100, 1)
INSERT [dbo].[FILDISCUSSION] ([ID], [SUJET], [DATEPUBLICATION], [DATEMODIFICATION], [NBLECTURES], [IDFORUM]) VALUES (15, N'Grorobantor', CAST(0x00009E52013C16C1 AS DateTime), CAST(0x00009E52017B2A35 AS DateTime), 83, 1)
SET IDENTITY_INSERT [dbo].[FILDISCUSSION] OFF
SET IDENTITY_INSERT [dbo].[FORUM] ON 

INSERT [dbo].[FORUM] ([ID], [TITRE], [IDSECTEUR]) VALUES (1, N'Agriculture', 1)
INSERT [dbo].[FORUM] ([ID], [TITRE], [IDSECTEUR]) VALUES (2, N'Construction civile', 2)
INSERT [dbo].[FORUM] ([ID], [TITRE], [IDSECTEUR]) VALUES (3, N'Tourisme', 3)
SET IDENTITY_INSERT [dbo].[FORUM] OFF
SET IDENTITY_INSERT [dbo].[MESSAGEFORUM] ON 

INSERT [dbo].[MESSAGEFORUM] ([ID], [DATEPUBLICATION], [DATEMODIFICATION], [CONTENU], [IDUTILISATEUR], [IDFILDISCUSSION]) VALUES (2, CAST(0x00009DB400399135 AS DateTime), CAST(0x00009DB700B0578B AS DateTime), N'fecit, estis linguens vobis essit. plurissimum esset pars sed novum quo quorum brevens, imaginator linguens brevens,', 6, 25)
INSERT [dbo].[MESSAGEFORUM] ([ID], [DATEPUBLICATION], [DATEMODIFICATION], [CONTENU], [IDUTILISATEUR], [IDFILDISCUSSION]) VALUES (9, CAST(0x00009DDD005B8AE0 AS DateTime), CAST(0x00009DE400512D24 AS DateTime), N'plorum parte et bono Id dolorum delerium. esset Sed quoque funem. Versus funem. trepicandor et quorum', 10, 15)
INSERT [dbo].[MESSAGEFORUM] ([ID], [DATEPUBLICATION], [DATEMODIFICATION], [CONTENU], [IDUTILISATEUR], [IDFILDISCUSSION]) VALUES (11, CAST(0x00009D90001469D0 AS DateTime), CAST(0x00009D94011883C6 AS DateTime), N'nomen venit. non glavans fecit. gravis eggredior. regit, Versus esset travissimantor et fecundio, Pro', 10, 15)
SET IDENTITY_INSERT [dbo].[MESSAGEFORUM] OFF
SET IDENTITY_INSERT [dbo].[MESSAGEPRIVE] ON 

INSERT [dbo].[MESSAGEPRIVE] ([ID], [IDEXPEDITEUR], [SUJET], [CONTENU], [DATEENVOI], [SUPPRIME], [SUPPRIMEDEFINITIF]) VALUES (1, 7, N'Endwerpollazz', N'quo Sed quo nomen Tam Versus si esset et quis bono Sed Et Pro eggredior. eudis funem. venit. venit. bono linguens regit, quad brevens, regit, in nomen regit, glavans egreddior egreddior nomen et vobis pladior quo, vobis cognitio, apparens parte novum bono et', CAST(0x00009E8F00CAE43B AS DateTime), 0, 0)
INSERT [dbo].[MESSAGEPRIVE] ([ID], [IDEXPEDITEUR], [SUJET], [CONTENU], [DATEENVOI], [SUPPRIME], [SUPPRIMEDEFINITIF]) VALUES (2, 6, N'Tippickedar', N'quad manifestum transit. Id volcans sed gravis regit, apparens funem. Sed fecundio, transit. non travissimantor rarendum eggredior. cognitio, quad parte brevens, quorum quo, trepicandor rarendum essit. manifestum plurissimum vantis. fecundio, apparens glavans pars quoque et', CAST(0x00009F29013A1906 AS DateTime), 0, 0)
INSERT [dbo].[MESSAGEPRIVE] ([ID], [IDEXPEDITEUR], [SUJET], [CONTENU], [DATEENVOI], [SUPPRIME], [SUPPRIMEDEFINITIF]) VALUES (3, 7, N'Supnipepantor', N'estum. et glavans gravum nomen essit. parte et Et nomen dolorum e fecundio, regit, quoque eggredior. quantare novum quo glavans transit. si plorum pars delerium. nomen manifestum dolorum linguens Quad si Versus quo et venit. et gravis dolorum estis linguens quorum parte fecit. apparens', CAST(0x0000A00F0081CDFB AS DateTime), 0, 0)
SET IDENTITY_INSERT [dbo].[MESSAGEPRIVE] OFF
SET IDENTITY_INSERT [dbo].[MOTCLE] ON 

INSERT [dbo].[MOTCLE] ([ID], [VALEUR]) VALUES (1, N'International Sales')
INSERT [dbo].[MOTCLE] ([ID], [VALEUR]) VALUES (2, N'National Sales')
INSERT [dbo].[MOTCLE] ([ID], [VALEUR]) VALUES (3, N'Accessory Sales')
SET IDENTITY_INSERT [dbo].[MOTCLE] OFF
INSERT [dbo].[MOTCLEPUBLICATION] ([IDPUBLICATION], [IDMOTCLE]) VALUES (1, 2)
INSERT [dbo].[MOTCLEPUBLICATION] ([IDPUBLICATION], [IDMOTCLE]) VALUES (2, 3)
INSERT [dbo].[MOTCLEPUBLICATION] ([IDPUBLICATION], [IDMOTCLE]) VALUES (3, 5)
SET IDENTITY_INSERT [dbo].[NOUVELLE] ON 

INSERT [dbo].[NOUVELLE] ([ID], [TITRE], [DESCRIPTION], [DATEPUBLICATION]) VALUES (1, N'Supbanax', N'Sed novum delerium. quorum linguens et trepicandor novum Quad quo non et novum Versus non Pro Tam quo, habitatio plorum si quantare ut cognitio, novum quad esset quad quartu eudis funem. essit. quartu vobis quartu rarendum vobis plorum estis quoque non esset', CAST(0x0000A02201894026 AS DateTime))
INSERT [dbo].[NOUVELLE] ([ID], [TITRE], [DESCRIPTION], [DATEPUBLICATION]) VALUES (2, N'Happebover', N'quantare nomen non plurissimum estis Pro gravis quad et pars homo, vobis Quad pars linguens apparens parte quartu non et funem. habitatio linguens fecit. vobis essit. quo, gravum non nomen nomen quantare eggredior. vobis quoque et fecit. regit, rarendum non', CAST(0x00009F8A0158DC81 AS DateTime))
INSERT [dbo].[NOUVELLE] ([ID], [TITRE], [DESCRIPTION], [DATEPUBLICATION]) VALUES (3, N'Emsapilentor', N'quo estis brevens, et Id vantis. bono apparens e regit, plurissimum Id imaginator linguens quad vobis quad cognitio, vantis. e plurissimum nomen pars Et et gravum quad rarendum plorum vobis habitatio vantis. in quorum esset Tam apparens e vobis travissimantor quis', CAST(0x00009E500072D665 AS DateTime))
SET IDENTITY_INSERT [dbo].[NOUVELLE] OFF
SET IDENTITY_INSERT [dbo].[PARTENAIRE] ON 

INSERT [dbo].[PARTENAIRE] ([ID], [NOM], [RAISONSOCIALE], [ADRESSE], [VILLE], [PAYS], [TELEPHONE], [SITEWEB], [COURRIEL]) VALUES (1, N'Frotanepor Direct ', N'Poultry', N'702 Green Hague Parkway', N'Cleveland', N'Rwanda', N'(180) 506-3394', N'http://gwc.net58/eqzfo/kkzse/ecyir/sjy.php', N'npiymlb.uyimx@example.com')
INSERT [dbo].[PARTENAIRE] ([ID], [NOM], [RAISONSOCIALE], [ADRESSE], [VILLE], [PAYS], [TELEPHONE], [SITEWEB], [COURRIEL]) VALUES (2, N'Bardudplistor  ', N'Snails', N'390 Second Way', N'Atlanta', N'Nicaragua', N'573-599-0240', N'http://adn.localv/dvjxg/psdxu/qcszo.htm', N'kakjvkin2@example.com')
INSERT [dbo].[PARTENAIRE] ([ID], [NOM], [RAISONSOCIALE], [ADRESSE], [VILLE], [PAYS], [TELEPHONE], [SITEWEB], [COURRIEL]) VALUES (3, N'Rapwerackistor  ', N'Produce', N'394 West White First Drive', N'Jackson', N'Lebanon', N'061-606-1202', N'http://pcccq.local01/eezai/acgia/bttka/vtomy/btseh.htm', N'fntfxyj55@example.com')
SET IDENTITY_INSERT [dbo].[PARTENAIRE] OFF
SET IDENTITY_INSERT [dbo].[PIECEJOINTE] ON 

INSERT [dbo].[PIECEJOINTE] ([ID], [IDMESSAGE], [PIECESERIALISEE], [TAILLEPIECE], [NOMPIECE]) VALUES (1, 8, 0x874E19D7265B8CE54BB1CD9C81A438AC47C382F96C94089C665DB63426841D473918AC5EAB5591DC2B69E1DA54DE76CFAB392DBBF8568BF2467C71C8A558BFC694866268F8DA01F132A6CD02B22E4887E7E689ED57614EE38CB9182EE4C836D3A91A45CE7B0DD7D0383C885188893F1734E9E1BFCFD26F32377FDB3EC1D20C696FFA5998E8790BD90EB8B51BD8FC5A037900FAFBE77704, N'8504847', N'voamwmudz.doc')
INSERT [dbo].[PIECEJOINTE] ([ID], [IDMESSAGE], [PIECESERIALISEE], [TAILLEPIECE], [NOMPIECE]) VALUES (3, 8, 0x6A4DB3AB8F643BEAFFFC150C0C95A3C3624D32BC8AE7047F465B940894F144A02F97E1CDDFE5F195FD13B877333972B03AB246C60584048348346533D033550EB774DC75B3D6E37D5C9CBE762E8D4B0CE9E3CDE1AA7E9BAB935D84AB80BDC5CABDAABFBE5CFCFD64CFC96A68C58D54BBE8584AEC65746339D831E2555138FC9ED7F3B883CD8DB0EDE66912E11332E60508C9C22873D865494785E62B1AA71296CCCB91D1D5D1ED5BA85C05FC6182, N'4033678', N'sveqe.xls')
SET IDENTITY_INSERT [dbo].[PIECEJOINTE] OFF
SET IDENTITY_INSERT [dbo].[PUBLICATION] ON 

INSERT [dbo].[PUBLICATION] ([ID], [TITRE], [DATECREATION], [DESCRIPTION], [IDPUBLICATEUR], [IDSUJET], [IDSECTEUR], [MIMETYPE], [NOMFICHIERORIGINAL], [NOMFICHIERSERVEUR]) VALUES (1, N'Monmunexex', CAST(0x00009D6E00BC1A0B AS DateTime), N'Donec ullamcorper nulla non metus auctor fringilla.', 1, 8, 1, N'PDF', N'http://zpji.local/xyujz/erslh/pflp.php', NULL)
INSERT [dbo].[PUBLICATION] ([ID], [TITRE], [DATECREATION], [DESCRIPTION], [IDPUBLICATEUR], [IDSUJET], [IDSECTEUR], [MIMETYPE], [NOMFICHIERORIGINAL], [NOMFICHIERSERVEUR]) VALUES (2, N'Truwerpex', CAST(0x00009FEB01779FFC AS DateTime), N'Donec ullamcorper nulla non metus auctor fringilla.', 1, 9, 1, N'TXT', N'http://nxzjl.web/jkzkq/nkigd/ejk.doc', NULL)
INSERT [dbo].[PUBLICATION] ([ID], [TITRE], [DATECREATION], [DESCRIPTION], [IDPUBLICATEUR], [IDSUJET], [IDSECTEUR], [MIMETYPE], [NOMFICHIERORIGINAL], [NOMFICHIERSERVEUR]) VALUES (3, N'Gronipepan', CAST(0x0000A0D90063DED5 AS DateTime), N'Donec ullamcorper nulla non metus auctor fringilla.', 1, 8, 1, N'DOC', N'http://akky.localr8/mqqgl/iilxz/sbhla/spzgt/igw.php', NULL)
SET IDENTITY_INSERT [dbo].[PUBLICATION] OFF
SET IDENTITY_INSERT [dbo].[SECTEUR] ON 

INSERT [dbo].[SECTEUR] ([ID], [NOM], [TITREACCUEIL], [TEXTEACCUEIL], [URLIMAGEACCUEIL]) VALUES (1, N'Agriculture', N'Accueil', N'Maecenas sed diam eget risus varius blandit sit amet non magna.', N'~/Content/images/photos/moz-agriculture.jpg')
INSERT [dbo].[SECTEUR] ([ID], [NOM], [TITREACCUEIL], [TEXTEACCUEIL], [URLIMAGEACCUEIL]) VALUES (2, N'Construction civile', N'Accueil', N'Maecenas sed diam eget risus varius blandit sit amet non magna. Donec ullamcorper nulla non metus auctor fringilla.', N'~/Content/images/photos/moz-agriculture.jpg')
INSERT [dbo].[SECTEUR] ([ID], [NOM], [TITREACCUEIL], [TEXTEACCUEIL], [URLIMAGEACCUEIL]) VALUES (3, N'Tourisme', N'Accueil', N'Cras mattis consectetur purus sit amet fermentum. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.', N'~/Content/images/photos/moz-agriculture.jpg')
SET IDENTITY_INSERT [dbo].[SECTEUR] OFF
SET IDENTITY_INSERT [dbo].[SONDAGE] ON 

INSERT [dbo].[SONDAGE] ([ID], [NOM], [QUESTION], [DATEDEBUT], [DATEFIN], [IDCREATEUR], [IDSECTEUR]) VALUES (1, N'Groglibupin', N'si habitatio si quo, fecit,', CAST(0x00009F0B00349A88 AS DateTime), CAST(0x0000A13D0163A832 AS DateTime), 7, 1)
INSERT [dbo].[SONDAGE] ([ID], [NOM], [QUESTION], [DATEDEBUT], [DATEFIN], [IDCREATEUR], [IDSECTEUR]) VALUES (2, N'Monerar', N'delerium. pladior novum quad trepicandor parte', CAST(0x0000A08100235347 AS DateTime), CAST(0x0000A16601503F84 AS DateTime), 6, 1)
INSERT [dbo].[SONDAGE] ([ID], [NOM], [QUESTION], [DATEDEBUT], [DATEFIN], [IDCREATEUR], [IDSECTEUR]) VALUES (3, N'Updudadax', N'e quoque et fecundio, linguens', CAST(0x00009FCB00A3BE70 AS DateTime), CAST(0x0000A1BE00963783 AS DateTime), 7, 1)
SET IDENTITY_INSERT [dbo].[SONDAGE] OFF
SET IDENTITY_INSERT [dbo].[SUJETPUBLICATION] ON 

INSERT [dbo].[SUJETPUBLICATION] ([ID], [NOM]) VALUES (1, N'Poultry')
INSERT [dbo].[SUJETPUBLICATION] ([ID], [NOM]) VALUES (2, N'Shell fish')
INSERT [dbo].[SUJETPUBLICATION] ([ID], [NOM]) VALUES (3, N'Confections')
SET IDENTITY_INSERT [dbo].[SUJETPUBLICATION] OFF
SET IDENTITY_INSERT [dbo].[UTILISATEUR] ON 

INSERT [dbo].[UTILISATEUR] ([ID], [NOMUTIL], [COURRIEL], [PRENOM], [NOM], [ADRESSE], [VILLE], [DATENAISSANCE], [DERNIERECONNEXION], [LANGUE], [IDECOLE]) VALUES (1, N'Gregg316', N'iorktnq.egysvg@example.com', N'Gregg', N'Casey', N'230 rue des Pokemons', N'Maputo', CAST(0x81EC0A00 AS Date), CAST(0x00009FE600000000 AS DateTime), N'fr', 8)
INSERT [dbo].[UTILISATEUR] ([ID], [NOMUTIL], [COURRIEL], [PRENOM], [NOM], [ADRESSE], [VILLE], [DATENAISSANCE], [DERNIERECONNEXION], [LANGUE], [IDECOLE]) VALUES (2, N'Elton987', N'ywqpnuzs.mqkvcxmgre@example.com', N'Elton', N'Lyons', N'29 Second Freeway', N'Columbus', CAST(0x49F60A00 AS Date), CAST(0x0000A0F300000000 AS DateTime), N'PT', 9)
INSERT [dbo].[UTILISATEUR] ([ID], [NOMUTIL], [COURRIEL], [PRENOM], [NOM], [ADRESSE], [VILLE], [DATENAISSANCE], [DERNIERECONNEXION], [LANGUE], [IDECOLE]) VALUES (3, N'Jacob028', N'aqdvehdd.ppznsixeae@example.com', N'Jacob', N'Sweeney', N'11 East Nobel Drive', N'Fort Wayne', CAST(0x550E0B00 AS Date), CAST(0x00009FEA00000000 AS DateTime), N'PT', 8)
SET IDENTITY_INSERT [dbo].[UTILISATEUR] OFF
INSERT [dbo].[UTILISATEURSECTEUR] ([IDUTILISATEUR], [IDSECTEUR], [DEBUTACCES], [FINACCES]) VALUES (1, 3, CAST(0xB9340B00 AS Date), CAST(0x19380B00 AS Date))
INSERT [dbo].[UTILISATEURSECTEUR] ([IDUTILISATEUR], [IDSECTEUR], [DEBUTACCES], [FINACCES]) VALUES (2, 1, CAST(0x86320B00 AS Date), CAST(0xB8380B00 AS Date))
INSERT [dbo].[UTILISATEURSECTEUR] ([IDUTILISATEUR], [IDSECTEUR], [DEBUTACCES], [FINACCES]) VALUES (3, 2, CAST(0x77320B00 AS Date), CAST(0x96380B00 AS Date))
INSERT [dbo].[VOTESONDAGE] ([IDUTILISATEUR], [IDCHOIX]) VALUES (1, 1)
INSERT [dbo].[VOTESONDAGE] ([IDUTILISATEUR], [IDCHOIX]) VALUES (2, 2)
INSERT [dbo].[VOTESONDAGE] ([IDUTILISATEUR], [IDCHOIX]) VALUES (3, 1)
INSERT [dbo].[webpages_Membership] ([UserId], [CreateDate], [ConfirmationToken], [IsConfirmed], [LastPasswordFailureDate], [PasswordFailuresSinceLastSuccess], [Password], [PasswordChangedDate], [PasswordSalt], [PasswordVerificationToken], [PasswordVerificationTokenExpirationDate]) VALUES (1, CAST(0x0000A2620153AB59 AS DateTime), NULL, 1, CAST(0x0000A26301224BFC AS DateTime), 0, N'APl/ileYy6jUi7NQV51uZnxI5OJpbTkVHoBRlCn99VsiH2MM7Q4M+LWfAI139uktMw==', CAST(0x0000A2620153AB59 AS DateTime), N'', NULL, NULL)
INSERT [dbo].[webpages_Membership] ([UserId], [CreateDate], [ConfirmationToken], [IsConfirmed], [LastPasswordFailureDate], [PasswordFailuresSinceLastSuccess], [Password], [PasswordChangedDate], [PasswordSalt], [PasswordVerificationToken], [PasswordVerificationTokenExpirationDate]) VALUES (2, CAST(0x0000A2620153AB5E AS DateTime), NULL, 1, NULL, 0, N'AKzASkATchnLbU5w1vhHmZ/0hTwD53o7anhKgW/Y0NPEi+onIkvLNGCtZ9jd9bOJpw==', CAST(0x0000A2620153AB5E AS DateTime), N'', NULL, NULL)
INSERT [dbo].[webpages_Membership] ([UserId], [CreateDate], [ConfirmationToken], [IsConfirmed], [LastPasswordFailureDate], [PasswordFailuresSinceLastSuccess], [Password], [PasswordChangedDate], [PasswordSalt], [PasswordVerificationToken], [PasswordVerificationTokenExpirationDate]) VALUES (3, CAST(0x0000A2620153AB62 AS DateTime), NULL, 1, NULL, 0, N'AG3Mqvab2X19DJ5p+H1dnyTL6jnXyoI4g/+u51j3gUKqqUiU9JF4iG06l3COHsRVUQ==', CAST(0x0000A2620153AB62 AS DateTime), N'', NULL, NULL)
SET IDENTITY_INSERT [dbo].[webpages_Roles] ON 

INSERT [dbo].[webpages_Roles] ([RoleId], [RoleName]) VALUES (1, N'admin')
INSERT [dbo].[webpages_Roles] ([RoleId], [RoleName]) VALUES (2, N'etudiant')
INSERT [dbo].[webpages_Roles] ([RoleId], [RoleName]) VALUES (3, N'professeur')
SET IDENTITY_INSERT [dbo].[webpages_Roles] OFF
INSERT [dbo].[webpages_UsersInRoles] ([UserId], [RoleId]) VALUES (1, 1)
INSERT [dbo].[webpages_UsersInRoles] ([UserId], [RoleId]) VALUES (2, 2)
INSERT [dbo].[webpages_UsersInRoles] ([UserId], [RoleId]) VALUES (3, 3)
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ_CONTENU_PAGE]    Script Date: 2013-11-04 06:36:40 ******/
ALTER TABLE [dbo].[CONTENU] ADD  CONSTRAINT [UQ_CONTENU_PAGE] UNIQUE NONCLUSTERED 
(
	[PAGE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__UTILISAT__190F3DCBCE897D42]    Script Date: 2013-11-04 06:36:40 ******/
ALTER TABLE [dbo].[UTILISATEUR] ADD  CONSTRAINT [UQ__UTILISAT__190F3DCBCE897D42] UNIQUE NONCLUSTERED 
(
	[COURRIEL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__UTILISAT__3BA84E4815D1A094]    Script Date: 2013-11-04 06:36:40 ******/
ALTER TABLE [dbo].[UTILISATEUR] ADD  CONSTRAINT [UQ__UTILISAT__3BA84E4815D1A094] UNIQUE NONCLUSTERED 
(
	[NOMUTIL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ_UTILISAT_NOMUTIL]    Script Date: 2013-11-04 06:36:40 ******/
ALTER TABLE [dbo].[UTILISATEUR] ADD  CONSTRAINT [UQ_UTILISAT_NOMUTIL] UNIQUE NONCLUSTERED 
(
	[NOMUTIL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__webpages__8A2B61603F7DF95C]    Script Date: 2013-11-04 06:36:40 ******/
ALTER TABLE [dbo].[webpages_Roles] ADD UNIQUE NONCLUSTERED 
(
	[RoleName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DESTINATAIREMESSAGE] ADD  DEFAULT ((0)) FOR [SUPPRIME]
GO
ALTER TABLE [dbo].[DESTINATAIREMESSAGE] ADD  DEFAULT ((0)) FOR [SUPPRIMEDEFINITIF]
GO
ALTER TABLE [dbo].[DESTINATAIREMESSAGE] ADD  CONSTRAINT [DF_DESTINATAIREMESSAGE_LU]  DEFAULT ((0)) FOR [LU]
GO
ALTER TABLE [dbo].[FILDISCUSSION] ADD  CONSTRAINT [DF_FILDISCUSSION_DATEPUBLICATION]  DEFAULT (getdate()) FOR [DATEPUBLICATION]
GO
ALTER TABLE [dbo].[FILDISCUSSION] ADD  CONSTRAINT [DF_FILDISCUSSION_DATEMODIFICATION]  DEFAULT (NULL) FOR [DATEMODIFICATION]
GO
ALTER TABLE [dbo].[FILDISCUSSION] ADD  CONSTRAINT [DF__FILDISCUS__NBLEC__4316F928]  DEFAULT ((0)) FOR [NBLECTURES]
GO
ALTER TABLE [dbo].[MESSAGEFORUM] ADD  CONSTRAINT [DF_MESSAGEFORUM_DATEPUBLICATION]  DEFAULT (getdate()) FOR [DATEPUBLICATION]
GO
ALTER TABLE [dbo].[MESSAGEFORUM] ADD  DEFAULT (NULL) FOR [DATEMODIFICATION]
GO
ALTER TABLE [dbo].[MESSAGEPRIVE] ADD  CONSTRAINT [DF_MESSAGEPRIVE_DATEENVOI]  DEFAULT (getdate()) FOR [DATEENVOI]
GO
ALTER TABLE [dbo].[MESSAGEPRIVE] ADD  CONSTRAINT [DF_MESSAGEPRIVE_SUPPRIME]  DEFAULT ((0)) FOR [SUPPRIME]
GO
ALTER TABLE [dbo].[MESSAGEPRIVE] ADD  CONSTRAINT [DF_MESSAGEPRIVE_SUPPRIMEDEFINITIF]  DEFAULT ((0)) FOR [SUPPRIMEDEFINITIF]
GO
ALTER TABLE [dbo].[NOUVELLE] ADD  DEFAULT (getdate()) FOR [DATEPUBLICATION]
GO
ALTER TABLE [dbo].[PUBLICATION] ADD  CONSTRAINT [DF_PUBLICATION_DATECREATION]  DEFAULT (getdate()) FOR [DATECREATION]
GO
ALTER TABLE [dbo].[UTILISATEUR] ADD  CONSTRAINT [DF_UTILISATEUR_DERNIERECONNEXION]  DEFAULT (NULL) FOR [DERNIERECONNEXION]
GO
ALTER TABLE [dbo].[UTILISATEUR] ADD  CONSTRAINT [DF__UTILISATE__LANGU__1CF15040]  DEFAULT ('FR') FOR [LANGUE]
GO
ALTER TABLE [dbo].[webpages_Membership] ADD  DEFAULT ((0)) FOR [IsConfirmed]
GO
ALTER TABLE [dbo].[webpages_Membership] ADD  DEFAULT ((0)) FOR [PasswordFailuresSinceLastSuccess]
GO
ALTER TABLE [dbo].[CHOIXSONDAGE]  WITH CHECK ADD  CONSTRAINT [FK_CHOIXSOND_SOND] FOREIGN KEY([IDSONDAGE])
REFERENCES [dbo].[SONDAGE] ([ID])
GO
ALTER TABLE [dbo].[CHOIXSONDAGE] CHECK CONSTRAINT [FK_CHOIXSOND_SOND]
GO
ALTER TABLE [dbo].[DESTINATAIREMESSAGE]  WITH CHECK ADD  CONSTRAINT [FK_DESTMESS_MESSPRIVE] FOREIGN KEY([IDMESSAGE])
REFERENCES [dbo].[MESSAGEPRIVE] ([ID])
GO
ALTER TABLE [dbo].[DESTINATAIREMESSAGE] CHECK CONSTRAINT [FK_DESTMESS_MESSPRIVE]
GO
ALTER TABLE [dbo].[DESTINATAIREMESSAGE]  WITH CHECK ADD  CONSTRAINT [FK_DESTMESS_UTIL] FOREIGN KEY([IDUTILISATEUR])
REFERENCES [dbo].[UTILISATEUR] ([ID])
GO
ALTER TABLE [dbo].[DESTINATAIREMESSAGE] CHECK CONSTRAINT [FK_DESTMESS_UTIL]
GO
ALTER TABLE [dbo].[ECOLESECTEUR]  WITH CHECK ADD  CONSTRAINT [FK_ECOLESECT_ECOLE] FOREIGN KEY([IDECOLE])
REFERENCES [dbo].[ECOLE] ([ID])
GO
ALTER TABLE [dbo].[ECOLESECTEUR] CHECK CONSTRAINT [FK_ECOLESECT_ECOLE]
GO
ALTER TABLE [dbo].[ECOLESECTEUR]  WITH CHECK ADD  CONSTRAINT [FK_ECOLESECT_SECT] FOREIGN KEY([IDSECTEUR])
REFERENCES [dbo].[SECTEUR] ([ID])
GO
ALTER TABLE [dbo].[ECOLESECTEUR] CHECK CONSTRAINT [FK_ECOLESECT_SECT]
GO
ALTER TABLE [dbo].[EVENEMENT]  WITH CHECK ADD  CONSTRAINT [FK_EVEN_CATE] FOREIGN KEY([IDCATEGORIE])
REFERENCES [dbo].[CATEGORIEEVENEMENT] ([ID])
GO
ALTER TABLE [dbo].[EVENEMENT] CHECK CONSTRAINT [FK_EVEN_CATE]
GO
ALTER TABLE [dbo].[EVENEMENT]  WITH CHECK ADD  CONSTRAINT [FK_EVEN_UTIl] FOREIGN KEY([IDCREATEUR])
REFERENCES [dbo].[UTILISATEUR] ([ID])
GO
ALTER TABLE [dbo].[EVENEMENT] CHECK CONSTRAINT [FK_EVEN_UTIl]
GO
ALTER TABLE [dbo].[EVENEMENTSECTEUR]  WITH CHECK ADD  CONSTRAINT [FK_EVENSECT_EVEN] FOREIGN KEY([IDEVENEMENT])
REFERENCES [dbo].[EVENEMENT] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[EVENEMENTSECTEUR] CHECK CONSTRAINT [FK_EVENSECT_EVEN]
GO
ALTER TABLE [dbo].[EVENEMENTSECTEUR]  WITH CHECK ADD  CONSTRAINT [FK_EVENSECT_SECT] FOREIGN KEY([IDSECTEUR])
REFERENCES [dbo].[SECTEUR] ([ID])
GO
ALTER TABLE [dbo].[EVENEMENTSECTEUR] CHECK CONSTRAINT [FK_EVENSECT_SECT]
GO
ALTER TABLE [dbo].[FILDISCUSSION]  WITH CHECK ADD  CONSTRAINT [FK_FILDISC_FORUM] FOREIGN KEY([IDFORUM])
REFERENCES [dbo].[FORUM] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[FILDISCUSSION] CHECK CONSTRAINT [FK_FILDISC_FORUM]
GO
ALTER TABLE [dbo].[FORUM]  WITH CHECK ADD  CONSTRAINT [FK_FORUM_SECT] FOREIGN KEY([IDSECTEUR])
REFERENCES [dbo].[SECTEUR] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[FORUM] CHECK CONSTRAINT [FK_FORUM_SECT]
GO
ALTER TABLE [dbo].[MESSAGEFORUM]  WITH CHECK ADD  CONSTRAINT [FK_MESS_FILDISC] FOREIGN KEY([IDFILDISCUSSION])
REFERENCES [dbo].[FILDISCUSSION] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MESSAGEFORUM] CHECK CONSTRAINT [FK_MESS_FILDISC]
GO
ALTER TABLE [dbo].[MESSAGEFORUM]  WITH CHECK ADD  CONSTRAINT [FK_MESS_UTIL] FOREIGN KEY([IDUTILISATEUR])
REFERENCES [dbo].[UTILISATEUR] ([ID])
GO
ALTER TABLE [dbo].[MESSAGEFORUM] CHECK CONSTRAINT [FK_MESS_UTIL]
GO
ALTER TABLE [dbo].[MESSAGEPRIVE]  WITH CHECK ADD  CONSTRAINT [FK_MESSPRIV_EXPED] FOREIGN KEY([IDEXPEDITEUR])
REFERENCES [dbo].[UTILISATEUR] ([ID])
GO
ALTER TABLE [dbo].[MESSAGEPRIVE] CHECK CONSTRAINT [FK_MESSPRIV_EXPED]
GO
ALTER TABLE [dbo].[MOTCLEPUBLICATION]  WITH CHECK ADD  CONSTRAINT [FK_MOTCLEPUB_MOTCLE] FOREIGN KEY([IDMOTCLE])
REFERENCES [dbo].[MOTCLE] ([ID])
GO
ALTER TABLE [dbo].[MOTCLEPUBLICATION] CHECK CONSTRAINT [FK_MOTCLEPUB_MOTCLE]
GO
ALTER TABLE [dbo].[MOTCLEPUBLICATION]  WITH CHECK ADD  CONSTRAINT [FK_MOTCLEPUB_PUB] FOREIGN KEY([IDPUBLICATION])
REFERENCES [dbo].[PUBLICATION] ([ID])
GO
ALTER TABLE [dbo].[MOTCLEPUBLICATION] CHECK CONSTRAINT [FK_MOTCLEPUB_PUB]
GO
ALTER TABLE [dbo].[PIECEJOINTE]  WITH CHECK ADD  CONSTRAINT [FK_PIECEJOINTE_MESS] FOREIGN KEY([IDMESSAGE])
REFERENCES [dbo].[MESSAGEPRIVE] ([ID])
GO
ALTER TABLE [dbo].[PIECEJOINTE] CHECK CONSTRAINT [FK_PIECEJOINTE_MESS]
GO
ALTER TABLE [dbo].[PUBLICATION]  WITH CHECK ADD  CONSTRAINT [FK_PUB_SECT] FOREIGN KEY([IDSECTEUR])
REFERENCES [dbo].[SECTEUR] ([ID])
GO
ALTER TABLE [dbo].[PUBLICATION] CHECK CONSTRAINT [FK_PUB_SECT]
GO
ALTER TABLE [dbo].[PUBLICATION]  WITH CHECK ADD  CONSTRAINT [FK_PUB_SUJET] FOREIGN KEY([IDSUJET])
REFERENCES [dbo].[SUJETPUBLICATION] ([ID])
GO
ALTER TABLE [dbo].[PUBLICATION] CHECK CONSTRAINT [FK_PUB_SUJET]
GO
ALTER TABLE [dbo].[PUBLICATION]  WITH CHECK ADD  CONSTRAINT [FK_PUB_UTIL] FOREIGN KEY([IDPUBLICATEUR])
REFERENCES [dbo].[UTILISATEUR] ([ID])
GO
ALTER TABLE [dbo].[PUBLICATION] CHECK CONSTRAINT [FK_PUB_UTIL]
GO
ALTER TABLE [dbo].[SONDAGE]  WITH CHECK ADD  CONSTRAINT [FK_SOND_CREATEUR] FOREIGN KEY([IDCREATEUR])
REFERENCES [dbo].[UTILISATEUR] ([ID])
GO
ALTER TABLE [dbo].[SONDAGE] CHECK CONSTRAINT [FK_SOND_CREATEUR]
GO
ALTER TABLE [dbo].[SONDAGE]  WITH CHECK ADD  CONSTRAINT [FK_SOND_SECT] FOREIGN KEY([IDSECTEUR])
REFERENCES [dbo].[SECTEUR] ([ID])
GO
ALTER TABLE [dbo].[SONDAGE] CHECK CONSTRAINT [FK_SOND_SECT]
GO
ALTER TABLE [dbo].[UTILISATEUR]  WITH CHECK ADD  CONSTRAINT [FK_UTIL_ECOLE] FOREIGN KEY([IDECOLE])
REFERENCES [dbo].[ECOLE] ([ID])
GO
ALTER TABLE [dbo].[UTILISATEUR] CHECK CONSTRAINT [FK_UTIL_ECOLE]
GO
ALTER TABLE [dbo].[UTILISATEURSECTEUR]  WITH CHECK ADD  CONSTRAINT [FK_UTILSECT_SECT] FOREIGN KEY([IDSECTEUR])
REFERENCES [dbo].[SECTEUR] ([ID])
GO
ALTER TABLE [dbo].[UTILISATEURSECTEUR] CHECK CONSTRAINT [FK_UTILSECT_SECT]
GO
ALTER TABLE [dbo].[UTILISATEURSECTEUR]  WITH CHECK ADD  CONSTRAINT [FK_UTILSECT_UTIL] FOREIGN KEY([IDUTILISATEUR])
REFERENCES [dbo].[UTILISATEUR] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UTILISATEURSECTEUR] CHECK CONSTRAINT [FK_UTILSECT_UTIL]
GO
ALTER TABLE [dbo].[VOTESONDAGE]  WITH CHECK ADD  CONSTRAINT [FK_VOTESOND_CHOIX] FOREIGN KEY([IDCHOIX])
REFERENCES [dbo].[CHOIXSONDAGE] ([ID])
GO
ALTER TABLE [dbo].[VOTESONDAGE] CHECK CONSTRAINT [FK_VOTESOND_CHOIX]
GO
ALTER TABLE [dbo].[VOTESONDAGE]  WITH CHECK ADD  CONSTRAINT [FK_VOTESOND_UTIL] FOREIGN KEY([IDUTILISATEUR])
REFERENCES [dbo].[UTILISATEUR] ([ID])
GO
ALTER TABLE [dbo].[VOTESONDAGE] CHECK CONSTRAINT [FK_VOTESOND_UTIL]
GO
ALTER TABLE [dbo].[webpages_UsersInRoles]  WITH CHECK ADD  CONSTRAINT [fk_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[webpages_Roles] ([RoleId])
GO
ALTER TABLE [dbo].[webpages_UsersInRoles] CHECK CONSTRAINT [fk_RoleId]
GO
ALTER TABLE [dbo].[webpages_UsersInRoles]  WITH CHECK ADD  CONSTRAINT [fk_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[UTILISATEUR] ([ID])
GO
ALTER TABLE [dbo].[webpages_UsersInRoles] CHECK CONSTRAINT [fk_UserId]
GO
ALTER TABLE [dbo].[UTILISATEUR]  WITH CHECK ADD  CONSTRAINT [CHK_UTIL_LANGUE] CHECK  (([LANGUE]='PT' OR [LANGUE]='FR'))
GO
ALTER TABLE [dbo].[UTILISATEUR] CHECK CONSTRAINT [CHK_UTIL_LANGUE]
GO
USE [master]
GO
