@{
    ViewBag.Title = "APropos";
}

<h1>Qui sommes-nous?</h1>
<h2>Notre mission</h2>
<p>Nulla vitae elit libero, a pharetra augue. Vivamus sagittis lacus vel augue laoreet
        rutrum faucibus dolor auctor. Donec ullamcorper nulla non metus auctor fringilla.
        Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa 
    justo sit amet risus. Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
<h2>L'entreprise</h2>
<p>Nulla vitae elit libero, a pharetra augue. Vivamus sagittis lacus vel augue laoreet
        rutrum faucibus dolor auctor. Donec ullamcorper nulla non metus auctor fringilla.
        Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa 
    justo sit amet risus. Maecenas sed diam eget risus varius blandit sit amet non magna.</p>

