@model projet_mozambique.Models.NOUVELLE

@{
    ViewBag.Title = Model.TITRE;
}

<h1>@Model.TITRE</h1>
<h3>Publié le : @Model.DATEPUBLICATION.ToString("YYYY/mm/DD")</h3>

    @Model.DESCRIPTION


