@model projet_mozambique.Models.GetContenu_Result
@{
    ViewBag.Title = "Accueil";
}

<h1>@Model.TITRE</h1>

<div>
    <img class="img-accueil img-sous" src="@Model.URLIMAGE" alt="Photo Agriculture" />
</div>
<p>@Model.CONTENU</p>