<ul>
    <li><a class="separateur">Accueil</a></li>
    <li><a class="separateur">Qui somme-nous ?</a></li>
    <li><a class="separateur">Nouvelles</a></li>
    <li><a class="separateur">Partenaires</a></li>
    <li><a>Nous joindre</a></li>
</ul>