@using projet_mozambique.Utilitaires
@using projet_mozambique.Models
@{
    var n =  (ViewData[Constantes.CLE_NOUVELLE] as GetNouvelle_Result);
    ViewBag.Title = n.TITRE ;
}

<div class="nouvelle">
    <h1>@n.TITRE</h1>
    <h3>@Resources.Shared.publieLe @n.DATEPUBLICATION.ToString("yyyy/MM/dd")</h3>

    <p>@Html.Raw(n.DESCRIPTION)</p>
</div>