@{
    ViewBag.Title = "Nouvelles";
}

<h1>Nouvelles</h1>
<div>
    <form>
        <input type="text" /><a href="getResultats?resultat=nouvelles" class="btnForm" style="margin-left:10px;">Rechercher</a>
    </form>
</div>

<div class="article">
    <p class="titre">Titre de la nouvelle</p>
    <p class="datepubli">Publié le : 23 Janvier 2012</p>
    <p>Nullam quis risus eget urna mollis ornare vel eu leo. Maecenas faucibus mollis interdum. Duis mollis, est non commodo luctus, 
        nisi erat porttitor ligula, eget lacinia odio sem nec elit. Vestibulum id ligula porta felis euismod semper.</p>
    <a href="getNouvelle">Lire la suite...</a>
</div>
<div class="article">
    <p class="titre">Titre de la nouvelle</p>
    <p class="datepubli">Publié le : 23 Janvier 2012</p>
    <p>Nullam quis risus eget urna mollis ornare vel eu leo. Maecenas faucibus mollis interdum. Duis mollis, est non commodo luctus, 
        nisi erat porttitor ligula, eget lacinia odio sem nec elit. Vestibulum id ligula porta felis euismod semper.</p>
    <a href="getNouvelle">Lire la suite...</a>
</div>
<div class="article">
    <p class="titre">Titre de la nouvelle</p>
    <p class="datepubli">Publié le : 23 Janvier 2012</p>
    <p>Nullam quis risus eget urna mollis ornare vel eu leo. Maecenas faucibus mollis interdum. Duis mollis, est non commodo luctus, 
        nisi erat porttitor ligula, eget lacinia odio sem nec elit. Vestibulum id ligula porta felis euismod semper.</p>
    <a href="getNouvelle">Lire la suite...</a>
</div>
<div class="article">
    <p class="titre">Titre de la nouvelle</p>
    <p class="datepubli">Publié le : 23 Janvier 2012</p>
    <p>Nullam quis risus eget urna mollis ornare vel eu leo. Maecenas faucibus mollis interdum. Duis mollis, est non commodo luctus, 
        nisi erat porttitor ligula, eget lacinia odio sem nec elit. Vestibulum id ligula porta felis euismod semper.</p>
    <a href="getNouvelle">Lire la suite...</a>
</div>
<div class="article">
    <p class="titre">Titre de la nouvelle</p>
    <p class="datepubli">Publié le : 23 Janvier 2012</p>
    <p>Nullam quis risus eget urna mollis ornare vel eu leo. Maecenas faucibus mollis interdum. Duis mollis, est non commodo luctus, 
        nisi erat porttitor ligula, eget lacinia odio sem nec elit. Vestibulum id ligula porta felis euismod semper.</p>
    <a href="getNouvelle">Lire la suite...</a>
</div>
<div class="article">
    <p class="titre">Titre de la nouvelle</p>
    <p class="datepubli">Publié le : 23 Janvier 2012</p>
    <p>Nullam quis risus eget urna mollis ornare vel eu leo. Maecenas faucibus mollis interdum. Duis mollis, est non commodo luctus, 
        nisi erat porttitor ligula, eget lacinia odio sem nec elit. Vestibulum id ligula porta felis euismod semper.</p>
    <a href="getNouvelle">Lire la suite...</a>
</div>
<div class="article">
    <p class="titre">Titre de la nouvelle</p>
    <p class="datepubli">Publié le : 23 Janvier 2012</p>
    <p>Nullam quis risus eget urna mollis ornare vel eu leo. Maecenas faucibus mollis interdum. Duis mollis, est non commodo luctus, 
        nisi erat porttitor ligula, eget lacinia odio sem nec elit. Vestibulum id ligula porta felis euismod semper.</p>
    <a href="getNouvelle">Lire la suite...</a>
</div><div class="article">
    <p class="titre">Titre de la nouvelle</p>
    <p class="datepubli">Publié le : 23 Janvier 2012</p>
    <p>Nullam quis risus eget urna mollis ornare vel eu leo. Maecenas faucibus mollis interdum. Duis mollis, est non commodo luctus, 
        nisi erat porttitor ligula, eget lacinia odio sem nec elit. Vestibulum id ligula porta felis euismod semper.</p>
    <a href="getNouvelle">Lire la suite...</a>
</div>


<ul class="nav-forum">
    <li><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">...</a></li>
    <li><a href="#">Page suivante></a></li>
    <li><a href="#">Dernière page</a></li>
</ul>

