@using projet_mozambique.Models
@using projet_mozambique.Utilitaires
@{
    ViewBag.Title = "Résultats de la recherche";
    string type = (ViewData[Constantes.CLE_TYPE_RECHERCHE] as string);
    List<GetRechercheNouvelle_Result> lstNouv;
    
    <h1>Résultats de la recherche</h1>
    
    if(type == Constantes.RECH_NOUVELLES)
    {
            lstNouv = (ViewData[Constantes.CLE_RESUL_RECH] as List<GetRechercheNouvelle_Result>);
            
            <ul>
                @for (int i = 0; i < lstNouv.Count; i++)
                {
                    string affiche = lstNouv[i].TITRE + " // " + " publié le " +
                        lstNouv[i].DATEPUBLICATION.ToString("yyyy/MM/dd");
                    
                    <li>@Html.ActionLink(affiche, 
                                        "getNouvelle",
                                        "Public",
                                        new { id = lstNouv[i].ID },
                                        null)  
                    </li>
                }
            </ul>  
            
    }
    else{
            <ul>
                <li>Nom de l'entreprise</li>
                <li>Nom de l'entreprise</li>
                <li>Nom de l'entreprise</li>
                <li>Nom de l'entreprise</li>
                <li>Nom de l'entreprise</li>
            </ul>
    
    }
}



