@{
    ViewBag.Title = "Partenaires";
}

<h1>Partenaires</h1>
<div>
    <form>
        <input type="text" /><a href="getResultats?resultat=partenaires" class="btnForm" style="margin-left:10px;">Rechercher</a>
    </form>
</div>

<div class="article">
    <p class="titre">Nom de l'entreprise</p>
    <p><span class="lbGras">Raison sociale : </span>Integer posuere erat a ante venenatis dapibus posuere velit aliquet.
    Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
    <p><span class="lbGras">Adresse : </span>555 Avenue Zimbabwe Maputo, Mozambique </p>
    <p><span class="lbGras">Téléphone : </span>+21 555 12345</p>
    <p><span class="lbGras">Site web : </span><a href="#">http://www.entreprise.com</a></p>
    <p><span class="lbGras">Courriel : </span><a href="#">entreprise@site.com</a></p>
</div>
<div class="article">
    <p class="titre">Nom de l'entreprise</p>
    <p><span class="lbGras">Raison sociale : </span>Integer posuere erat a ante venenatis dapibus posuere velit aliquet.
    Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
    <p><span class="lbGras">Adresse : </span>555 Avenue Zimbabwe Maputo, Mozambique </p>
    <p><span class="lbGras">Téléphone : </span>+21 555 12345</p>
    <p><span class="lbGras">Site web : </span><a href="#">http://www.entreprise.com</a></p>
    <p><span class="lbGras">Courriel : </span><a href="#">entreprise@site.com</a></p>
</div>
<div class="article">
    <p class="titre">Nom de l'entreprise</p>
    <p><span class="lbGras">Raison sociale : </span>Integer posuere erat a ante venenatis dapibus posuere velit aliquet.
    Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
    <p><span class="lbGras">Adresse : </span>555 Avenue Zimbabwe Maputo, Mozambique </p>
    <p><span class="lbGras">Téléphone : </span>+21 555 12345</p>
    <p><span class="lbGras">Site web : </span><a href="#">http://www.entreprise.com</a></p>
    <p><span class="lbGras">Courriel : </span><a href="#">entreprise@site.com</a></p>
</div>
<div class="article">
    <p class="titre">Nom de l'entreprise</p>
    <p><span class="lbGras">Raison sociale : </span>Integer posuere erat a ante venenatis dapibus posuere velit aliquet.
    Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
    <p><span class="lbGras">Adresse : </span>555 Avenue Zimbabwe Maputo, Mozambique </p>
    <p><span class="lbGras">Téléphone : </span>+21 555 12345</p>
    <p><span class="lbGras">Site web : </span><a href="#">http://www.entreprise.com</a></p>
    <p><span class="lbGras">Courriel : </span><a href="#">entreprise@site.com</a></p>
</div>
<div class="article">
    <p class="titre">Nom de l'entreprise</p>
    <p><span class="lbGras">Raison sociale : </span>Integer posuere erat a ante venenatis dapibus posuere velit aliquet.
    Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
    <p><span class="lbGras">Adresse : </span>555 Avenue Zimbabwe Maputo, Mozambique </p>
    <p><span class="lbGras">Téléphone : </span>+21 555 12345</p>
    <p><span class="lbGras">Site web : </span><a href="#">http://www.entreprise.com</a></p>
    <p><span class="lbGras">Courriel : </span><a href="#">entreprise@site.com</a></p>
</div>
<div class="article">
    <p class="titre">Nom de l'entreprise</p>
    <p><span class="lbGras">Raison sociale : </span>Integer posuere erat a ante venenatis dapibus posuere velit aliquet.
    Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
    <p><span class="lbGras">Adresse : </span>555 Avenue Zimbabwe Maputo, Mozambique </p>
    <p><span class="lbGras">Téléphone : </span>+21 555 12345</p>
    <p><span class="lbGras">Site web : </span><a href="#">http://www.entreprise.com</a></p>
    <p><span class="lbGras">Courriel : </span><a href="#">entreprise@site.com</a></p>
</div>


<ul class="nav-pagination">
    <li><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">...</a></li>
    <li><a href="#">Page suivante></a></li>
    <li><a href="#">Dernière page</a></li>
</ul>
