@{
    ViewBag.Title = "Partenaires";
}

<h1>Partenaires</h1>

<div class="article">
    <p class="titre">Nom de l'entreprise</p>
    <p><span class="lbGras">Raison sociale : </span>Integer posuere erat a ante venenatis dapibus posuere velit aliquet.
    Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
    <p><span class="lbGras">Adresse : </span>555 Avenue Zimbabwe Maputo, Mozambique </p>
    <p><span class="lbGras">Téléphone : </span>+21 555 12345</p>
    <p><span class="lbGras">Site web : </span><a>http://www.entreprise.com</a></p>
</div>
<div class="article">
    <p class="titre">Nom de l'entreprise</>
    <p><span class="lbGras">Raison sociale : </span>Integer posuere erat a ante venenatis dapibus posuere velit aliquet.
    Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
    <p><span class="lbGras">Adresse : </span>555 Avenue Zimbabwe Maputo, Mozambique </p>
    <p><span class="lbGras">Téléphone : </span>+21 555 12345</p>
    <p><span class="lbGras">Site web : </span><a>http://www.entreprise.com</a></p>
</div>
