body {
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background:url('images/pw_maze_white.png') repeat;
    margin:0 0 20px;
    padding:0;
}

a img
{
    border:none;
}

ul{
    list-style-type:none;
}

textarea {
    width:40%;
    height:300px;
}

a, a:active, a:link, a:visited {
    color:#232323;
    text-decoration:none;
}

a:hover {
    color:#538d12;
}

#all {
    width:85%;
    margin:auto;
}

.content li.lienPanneau {
}

/* HEADER */

.connexion{
    float:right;
    margin:10px 0 0 10px;
    width:50%;
    text-align:right;
}

.connexion p {
    font-size:1.3em;
}
 
p.langue {
    cursor:pointer;
}

.connexion img {
    display:inline;
    padding:0;
}

.connexion div.user_name p {
    padding:0;
    margin:0 0 5px 0;
}

.connexion div.user_name div.icons {
    padding:0;
    margin:0;
}

.connexion a.logout {
  padding-top:10px;
  display:block;
}

.connexion p.login {
  cursor:pointer;
  padding:0;
  margin:0;
}

.connexion form#frmConnexion input {
    
}

.connexion p.login:hover {
    color:#538d12;
}

.div-login {
    display:none;
    font-size:11px;
}

.div-login p
{
    margin:0;
}

header, footer, nav, section {
    display: block;
}

header{
    margin:0 auto;
    padding:0;
}

header .titre-header .main-titre
{
    font-size: 5.5em;
    font-weight:bolder;
}

header .titre-header .sous-titre
{
    font-size: 1.4em;
    font-weight:bold;
}

header .titre-header
{
    font-family: 'Roboto Slab';
    line-height:15px;
    padding: 35px 0 20px;
}

header .titre-header a
{
    color: #d3d3d3;
}

header nav {
    clear:both;
    float:right;
    margin-right:20px;
}

/*.menu-h{
    margin-top:10px;
    margin-right:60px;
}*/

header nav li{
    text-transform:uppercase;
    font-family:'Roboto Slab';
    font-size:1.1em;
    /*float:left;*/
    /*font-weight:bold;*/
    padding:10px 20px 3px;
    margin:0;
    text-align:center;
    display:inline-block;
    border-bottom:7px solid #538d12;
    overflow:auto;
}

header nav li:hover {
    border-bottom:7px solid #257dbf;
}

header nav ul{
    padding:10px 0 0;
    margin:0 0 10px 0;
}

header nav ul.nav-secondaire {
    float:right;
    padding:0;
    display:none;
}

header nav a.menu-admin {
    cursor:pointer;
}

header nav ul.nav-secondaire li {
    border:none;
    margin-right:10px;
    padding:0;
}

/* CONTENT */
.content {
    clear:both;
    margin-top:130px;
}

.content h1 {
    font-size:2.1em;
    text-transform:uppercase;
    margin:15px 0 30px;
}

.texte_accueil {
  margin:20px auto 0; 
  width:80%;   
}

.article {
    padding:20px;
    margin:20px auto 0;
    background-color:rgba(0,0,0,0.2);
    width:80%;
}

.article p.titre {
    font-size:1.5em;
    border-bottom:1px solid #232323;
    width:55%;
}

.article p.datepubli {
    font-size:0.9em;
    margin:0 0 15px 15px;
    font-style:italic;
}

.article p {
    margin:0 0 10px;
}


.content form label:not([class=cb]):not([class=radio]) {
    display:block;
    float:left;
    width:200px;
    margin-bottom:10px;
}

.content form input, .content form select {
    margin-bottom: 10px;
}

.liste-fleche li
{
    margin-bottom:5px;
}

#divCarteGoogle {

	border:5px ridge #CCC;
	background-color:gray;
	height:450px;
	margin:0 auto;

}

.msgErreur {
    color:#ce2203;
}

.msgOk {
    color:#538d12;
}

img.modifier {
    
}

/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}

footer
{
    clear:both;
    height:50px;
}

input
{
    padding:3px;
}
