/*ADMIN*/
.img-accueil
{
    float:left;
    margin-right:10px;
    margin-bottom:15px;
}

.modif-image
{
    position:relative;
    left:0;
    top:0;
}

.img-sur
{
    position:absolute;
    top:0px;
    left:0px;
    padding:10px;
    background-color:white;
    opacity:0.7;
}

.img-sous
{
    position:relative;
    top:0;
    left:0;
}

/*DOCUMENTS*/
.recherche-doc
{
    clear:both;
}

.recherche-doc label
{
    width:170px;
    float:left;
}

.categorie
{
    width:60%;
}

.categorie:hover
{
    cursor:pointer;
}

.categorie h2
{
    font-style:italic;
    border:1px solid rgba(0,0,0,0.2);
    background-color:rgba(0,0,0,0.1);
    border-radius:3px;
    padding:3px;
}

.categorie img, .result-rech-doc img
{
    vertical-align:middle;
    margin:5px;
}

.date-document
{
    font-size:11px;
}

/*FORMULAIRE*/
.formulaire div
{
    margin-top:10px;
    margin-bottom:10px;
}

label[class=cb]
{
    margin:0 5px;
}

.formulaire select, .formulaire input:not([type=checkbox]):not([type=date]):not([type=time]):not([type=submit]):not([type=button])
{
    width:260px;
}

.nouveau-message input[type=text]
{
    width:400px;
}

.nouveau-message textarea
{
    width:60%;
    height:300px;
}

.selection-dest
{
    padding:10px;
    float:right;
    background-color:rgba(0,0,0,0.2);
    width:35%;
    min-height:425px;
}

.selection-dest h3
{
    margin:0 0 5px 0;
}

input:read-only
{
    background-color: #E6E6E6;
}

#liste-dest li
{
    cursor:pointer;
}

.date-envoi
{
    font-size:12px;
}


/*CHANGEMENT SECTEUR*/
.nav-tab
{
    width:auto;
    margin:0 auto 40px auto;
}

.nav-tab ul 
{
    margin:0;
    padding:0;
    text-align:center;
}

.nav-tab li
{
    display:inline-block;
    margin:5px;
}

.nav-tab a
{
    background-color:rgba(0,0,0,0.2);
    padding:10px 15px 10px 15px;
}

.nav-tab a:hover
{
    color:black;
    padding:10px 15px 10px 15px;
    background-color:rgba(0,0,0,0.3);
}

.tab-active
{
    border-bottom:3px solid rgba(0, 0, 0, 0.68);
}

/*MENU MESSAGERIE*/
.menu-messagerie
{
    width:auto;
    margin:0 auto 0 auto;
    float:left;
}

.menu-messagerie ul 
{
    margin:0;
    padding:0;
    text-align:center;
}

.menu-messagerie li
{
    display:inline-block;
    padding: 15px 0 10px 0;
    margin:0;
}

.menu-messagerie a
{
    background-color:rgba(0,0,0,0.2);
    padding: 15px 7px 10px 7px;
    border-radius:25px 0px 0 0;
}

.menu-messagerie li:not([class=active]) a
{
    background-color:rgba(0,0,0,0.3);
    padding: 15px 7px 10px 7px;
}

.menu-messagerie a:hover
{
    color:black;
    padding: 15px 7px 10px 7px;
}

.menu-messagerie li:not([class=active]) a:hover
{
    background-color:rgba(0,0,0,0.4);
}



/*BOUTONS*/
.btnForm {
	-moz-box-shadow:inset 0px 1px 0px 0px #548c14;
	-webkit-box-shadow:inset 0px 1px 0px 0px #548c14;
	box-shadow:inset 0px 1px 0px 0px #548c14;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #709e37), color-stop(1, #99d64f) );
	background:-moz-linear-gradient( center top, #709e37 5%, #99d64f 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#709e37', endColorstr='#99d64f');
	background-color:#709e37;
	-webkit-border-top-left-radius:4px;
	-moz-border-radius-topleft:4px;
	border-top-left-radius:4px;
	-webkit-border-top-right-radius:4px;
	-moz-border-radius-topright:4px;
	border-top-right-radius:4px;
	-webkit-border-bottom-right-radius:4px;
	-moz-border-radius-bottomright:4px;
	border-bottom-right-radius:4px;
	-webkit-border-bottom-left-radius:4px;
	-moz-border-radius-bottomleft:4px;
	border-bottom-left-radius:4px;
	text-indent:0;
	border:1px solid #65a31d;
	display:inline-block;
	color:#000000;
	font-family:Arial;
	font-size:12px;
	font-weight:bold;
	font-style:normal;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #75a341;
    padding:5px;
}

.btnForm:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #99d64f), color-stop(1, #709e37) );
	background:-moz-linear-gradient( center top, #99d64f 5%, #709e37 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#99d64f', endColorstr='#709e37');
	background-color:#99d64f;
}.btnForm:active {
	position:relative;
	top:1px;
}

 .line-separator{
    height:1px;
    background:#717171;
    border-bottom:1px solid #313030;
    margin:30px auto 30px auto;
    width:80%;
}

.icone
{
    margin-right:5px;
}

/*MESSAGES D'ERREURS/SUCCÈS*/
.msg
{
    margin-bottom:25px;
}

.erreur
{
    color:red;
}

.succes
{
    color:#538d12;
}

.erreur ul
{
    list-style-type:circle;
}

.erreur p, ul
{
    margin:0;
}

.liste-fleche li
{
    margin-bottom:5px;
    background:url('images/icones/icon-arrow.png') no-repeat left center; 
     padding-left: 25px; /* the width of your image + some space */
}

/*MENU ICÔNES*/
.profil-img
{
    background:url('images/profile.png') no-repeat center right;
    display:inline-block;
    width:24px;
    height:24px;
}

.msg-img
{
    background:url('images/mail.png') no-repeat center right;
    display:inline-block;
    width:24px;
    height:24px;
}

/*MESSAGERIE*/
#contenu-message h3
{   
    margin-top:5px;
    padding-left:12px;
    padding-right:8px
}

.messagerie
{
    clear:both;
    margin-bottom:10px;
    overflow:hidden;
}

.mess-lecture
{
    width:60%;
    float:right;
    background-color:rgba(0,0,0,0.2);
    margin-bottom: -99999px;
	padding-bottom: 99999px;
}

.mess-lecture p
{
    padding-left:12px;
    padding-right:8px
}

.mess-reception
{
    width:40%;
    margin:0;
    float:left;
    background-color:rgba(0,0,0,0.2);
    margin-bottom: -99999px;
	padding-bottom: 99999px;
    font-size:11px;

}

.mess-reception ul
{
    padding:0;
}

.mess-reception li
{
    padding:5px;
}

.mess-reception li:hover:not([class=nouveau-msg])
{
    background-color:rgba(0,0,0,0.3);
}

.mess-reception li:hover
{
    cursor:pointer;
    color:black;
}

.mess-reception input
{
    margin-right:10px;
}

.mess-reception a:hover
{
    color:black;
}

.mess-reception a:active
{
    background-color:rgba(0,0,0,0);
}

.msg-courant
{
    font-weight:bold;
    background-color:rgba(0,0,0,0.3);
}

.infos-supp-msg
{
    float:right;
    width:130px;
}

.attachment
{
    margin-left:4px;
    vertical-align:middle;
}

.actions-boite-reception
{
    border-bottom:2px solid rgba(0,0,0,0.6);
    font-weight:bold;
    font-size:12px;
    padding:8px;
}

.actions-boite-reception li
{
    display:inline;
    margin:8px 5px 8px 5px;
}

.actions-boite-reception li:hover
{
    padding:8px 5px;
    background-color:rgba(0,0,0,0);
}



.actions-messagerie
{
    margin-bottom:20px;
}

.icones-actions
{
    float:right;
    margin:5px;
}

.icones-actions img
{
    margin:2px;
}

.nouveau-msg
{
    background-color:rgba(83,141,18,0.3);
}

.nouveau-msg:hover
{
    background-color:rgba(83,141,18,0.7);
}

#messages
{
    min-height:200px;
}

.label-message
{
    font-weight:bold;
}

/*FORUM*/
.nav-pagination
{
    float:right;
    margin-bottom:20px;
    margin-top:10px;
    padding-right:5px;
}

.nav-pagination li a
{
    text-decoration:underline;
    font-weight:bold;
}

.nav-pagination li
{
    display:inline;
    margin-right:5px;
}

.nav-bas
{
    width:100%;
    background-color:rgba(0,0,0,0.02);
    height:45px;
    border-top:1px solid rgba(0,0,0,0.6);
}

.infos-supp
{
    font-size:11px;
    font-weight:normal;
}

.forum
{
    width:100%;
    background-color:rgba(0,0,0,0.05);
}

.forum table
{
    text-align:center;
    width:100%;
    border-collapse:collapse;
}

.forum table tbody tr:hover
{
    background-color:rgba(0,0,0,0.1);
}

.forum table a
{
    color:#538d12;
    font-weight:bold;
}

.icone
{
    margin:5px;
}

.forum table a:hover
{
    color:#000;
}

.forum thead
{
    background-color:rgba(0,0,0,0.4);
}

.forum th
{
    font-size:15px;
    padding:10px;
}

.forum td
{
    border-bottom:1px solid rgba(0,0,0,0.2);
    padding:10px;
}

.col-fildiscu
{
    width:60%;
    text-align:left;
}

.col-nb
{
    width:8%;
}

.col-derniermsg
{
    width:24%;
}

.col-petite-ad
{
    width:8%;
}

.col-derniermsg-ad
{
    width:50%;
}

.col-fildiscu-ad
{
    width:26%;
}

/*FIL DISCUSSION*/
.forum-message
{
    background-color:rgba(0,0,0,0.2);
    padding:5px 10px 5px 10px;
    margin-bottom:15px;
}

.date-auteur-message
{
    font-weight:bold;
}

/*SONDAGE*/
.choix-reponses
{
    margin-left:25px;
}

.sondage label:not([class=radio])
{
    width:150px;
    float:left;
}

/*CALENDRIER*/

.calendrier .mois
{
    font-size:25px;
}

.calendrier .mois a
{
    margin:25px;
}

.calendrier table
{
    float:left;
    margin-top:25px;
    width:80%;
    margin:0 auto;
    border-collapse:collapse;
}

.calendrier th
{
    text-align:center;
    padding:10px;
}

.calendrier th:not([class=mois])
{
    font-size:16px;
}

.calendrier td
{
    padding: 5px 5px;   
    width: 14%; 
    height: 80px;
    text-align: left;
    vertical-align: top;
    position:relative;
}

.calendrier td:not([class=ajd])
{
    background-color:rgba(0,0,0,0.1);    
}

.calendrier td, .calendrier th
{
    border:1px solid rgba(0,0,0,0.3);
}

.date
{
    font-weight:bold;
}

.ajd
{
    background-color:rgba(83,141,18, 0.4);

}

.event
{
    font-size:11px;
    position:absolute;
    bottom:0;
    right:0;
    margin:0 3px 3px 0;
    padding:0;
    list-style-type:square;
}

.event a
{
    color:black;
}

.event a:hover
{
    color:#324f10;
}

.conference
{
    color:#192da5;
}

.discussion
{
    color:#e4371f;
}

.calendrier .legende
{
    border:1px solid rgba(0,0,0,0.3);
    width:15%;
    margin:0 auto 15px auto;
    float:right;
}

.calendrier .legende ul 
{
    margin-top:10px;
    list-style-type:square;
}

.calendrier .legende span
{
    color:black;
}

.desc-event
{
    background-color:rgba(0,0,0,0.2);
    width:60%;
    text-align:justify;
    padding:20px;
}

.desc-event span
{
    font-weight:bold;
}

.evenement textarea
{
    width:500px;
    height:150px;
}

/*CMS*/
.modif-cms input[type=submit]
{
    float:right;
}

.modif-cms
{
    width:400px;
}

.modif-titre
{
    font-size:25px;
}

.gras
{
    font-weight:bold;
}

.lst-options-nouvelles
{
    font-size:15px;
    padding:3px;
}

.form-nouvelle input:not([type=submit])
{
    width:40%;
}





