body {
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background:url('images/pw_maze_white.png') repeat;
    margin:0;
    padding:0;
}

header, footer, nav, section {
    display: block;
}

header{
    margin:0 auto;
    padding:0;
    height:100px;
    
}

ul{
    list-style-type:none;
}

.separateur
{
    border-right:1px solid #000000;
}

.menu-h{
    float:right;
    margin-top:40px;
    margin-right:60px;
}

.menu-h ul li{
    padding-left:20px;
    padding-right:20px;
    display:inline-block;
}

.menu-h ul{
    margin-top:0px;
}

.content
{

}

/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}
